.system-about .system-rightbar{
    background-color: #4c4c4c;
    box-shadow: 0 0 5px grey;
    color: #FFD100;
    min-height: 90vh;
    height: 100%;
    margin: -10px -35px;
    padding: 10px 30px;
    padding-bottom: 90px;
    top: -20px;
    overflow-y: auto;
}
.system-about .system-logs{
    height: 85vh;
    margin-left: 50px;
    color: #FFD100;
    font-size: 120%;
    overflow-y: auto;
}
.system-about .system-logs .val{
    color: orange;
    font-size: 120%;
}
.system-about .system-logs .valu{
    color: #FFD100;
    font-size: 120%;
}
.system-about .system-rightbar .val{
    color: #eeeeee;
}
.system-about .devider{
    border-bottom: 1px solid orange;
}
.system-about .invisedevider{
    height: 20px;
}
.system-about a{
    font-weight: bold;
    font-size: 150%;
}
.system-about a:hover{
    font-size: 150%;
    text-transform: none !important;
}
.system-about tr:nth-child(even){
    background-color: #333;
}
.system-about tr.logdata{
    font-size: 80%;
}
.system-about td:nth-child(1){
    width: 50px;
}
.system-about td:nth-last-child(1) {
    min-width: 50px;
    text-overflow: ellipsis;
    text-align: center;
}
.system-about li{
    color: #eeeeee;
}
.system-about .header{
    color: #eeeeee;
    font-size: 90%;
}
.system-about .header .fa-table{
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
}
.system-about .visitContainer{
    height: 10vh;
    min-height: 100px;
    overflow-y: auto;
}
.system-about .uniqContainer{
    height: 25vh;
    min-height: 100px;
    overflow-y: auto;
}
.system-about .defferContainer{
    height: 25vh;
    min-height: 100px;
    overflow-y: auto;
}
.system-about .logdata{
    color: antiquewhite;
}
.system-about .author_img{
    height: 35px;
    margin-left: 10px;
}
.system-about .vendor_img{
    height: 35px;
    margin-left: 5px;
}

.system-about .system-logs table .btn-trash-ip,
.system-about .system-logs table .btn-refresh-ip{
    cursor: pointer;
}
#systemview .system-rightbar, #systemview .system-logs{
    transition: all .5s ease;
}
#fb_container{
    border: 1px solid #ff7;
    background: #444;
	background-image: url("bg2.png");
	color: #ffe;
    display: none;
    border-radius: 10px;
    overflow: hidden;
}