<div class="row">
    <div class="col-md-12 park_name">Причал <span class="rn_color">- сызранская нефтебаза</span></div>
</div>
<div class="row">
    <div class="col-md-6">
        <table border="0" class="table table-hover table_port">
            <tr class="table_port_header">
                <td align="center">ПАРАМЕТРЫ</td>
                <td align="center">ДТ
                    <div class="label-danger label timestamp_port_dt" data-tooltip="Данные не получены">
                        <i class="fa fa-clock-o"></i>
                    </div>
                </td>
                <td align="center">СМТ
                    <div class="label-danger label timestamp_port_smt" data-tooltip="Данные не получены">
                        <i class="fa fa-clock-o"></i>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Температура град.С.</td>
                <td class="port_plot_t_dt">----</td>
                <td class="port_plot_t_smt">----</td>
            </tr>
            <tr>
                <td>Давление кг/см.</td>
                <td class="port_plot_p_dt">----</td>
                <td class="port_plot_p_smt">----</td>
            </tr>
            <tr class="plotOne">
                <td>(P1) Плотность 1 кг/м3</td>
                <td class="port_plot_p1_dt">----</td>
                <td class="port_plot_p1_smt">----</td>
            </tr>
            <tr class="plotOne">
                <td>(T1) Температура 1 град.С.</td>
                <td class="port_plot_t1_dt">----</td>
                <td class="port_plot_t1_smt">----</td>
            </tr>
            <tr class="plotOne">
                <td>(Q1) Расход 1 кг/ч.</td>
                <td class="port_plot_f1_dt">----</td>
                <td class="port_plot_f1_smt">----</td>
            </tr>
            <tr class="plotOne">
                <td>(F1) Тек. счетчик 1 кг.</td>
                <td class="port_plot_m1_dt">----</td>
                <td class="port_plot_m1_smt">----</td>
            </tr>
            <tr class="plotOne">
                <td>(FF1) Сумм. счетчик 1 кг.</td>
                <td class="port_plot_ms1_dt">----</td>
                <td class="port_plot_ms1_smt">----</td>
            </tr>
            <tr class="plotTwo">
                <td>(P2) Плотность 2 кг/м3</td>
                <td class="port_plot_p2_dt">----</td>
                <td class="port_plot_p2_smt">----</td>
            </tr>
            <tr class="plotTwo">
                <td>(T2) Температура 2 град.С.</td>
                <td class="port_plot_t2_dt">----</td>
                <td class="port_plot_t2_smt">----</td>
            </tr>
            <tr class="plotTwo">
                <td>(Q2) Расход 2 кг/ч.</td>
                <td class="port_plot_f2_dt">----</td>
                <td class="port_plot_f2_smt">----</td>
            </tr>
            <tr class="plotTwo">
                <td>(F2) Тек. счетчик 2 кг.</td>
                <td class="port_plot_m2_dt">----</td>
                <td class="port_plot_m2_smt">----</td>
            </tr>
            <tr class="plotTwo">
                <td>(FF2) Сумм. счетчик 2 кг.</td>
                <td class="port_plot_ms2_dt">----</td>
                <td class="port_plot_ms2_smt">----</td>
            </tr>
        </table>
    </div>
    <div class="col-md-1">
        <div class="park_name" style="margin-top: 15px;">
            <span>Сливные ёмкости</span>
        </div>
        <div class="tank_port_ecu">
            <div class="label-danger label timestamp_port_ecu1" data-tooltip="Данные не получены">
                <i class="fa fa-clock-o"></i>
            </div>
            <div class="tank_port" data-product="ecu1">
                <span class="tank_title_port">ЕСУ1</span>
                <div class="tends"></div>
                <div class="progress_tank_port" id="progress_tank_port_ecu1">
                    <div class="glyphicon glyphicon-chevron-up tank_arrow_top _neutral"></div>
                    <p class="progress_tank_val_real">-</p>
                    <p class="progress_tank_val" style="color: darkgreen">0%</p>
                    <div class="glyphicon glyphicon-chevron-down tank_arrow_bottom _neutral"></div>
                </div>
                <div class="row pereliv">
                    <div class="col-md-12">
                        <span class="tank_pereliv label label-danger">Перелив</span>
                    </div>
                </div>
                <div class="row errortank">
                    <div class="col-md-12">
                        <span class="tank_error label label-danger">Ошибка</span>
                    </div>
                </div>
                <div class="row service">
                    <div class="col-md-12">
                        <span class="tank_service label label-default">
                            <i class="fa fa-wrench" aria-hidden="true"> </i> В ремонте
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="tank_port_ecu">
            <div class="label-danger label timestamp_port_ecu2" data-tooltip="Данные не получены">
                <i class="fa fa-clock-o"></i>
            </div>
            <div class="tank_port" data-product="ecu2">
                <span class="tank_title_port">ЕСУ2</span>
                <div class="tends"></div>
                <div class="progress_tank_port" id="progress_tank_port_ecu2">
                    <div class="glyphicon glyphicon-chevron-up tank_arrow_top _neutral"></div>
                    <p class="progress_tank_val_real">-</p>
                    <p class="progress_tank_val" style="color: darkgreen">0%</p>
                    <div class="glyphicon glyphicon-chevron-down tank_arrow_bottom _neutral"></div>
                </div>
                <div class="row pereliv">
                    <div class="col-md-12">
                        <span class="tank_pereliv label label-danger">Перелив</span>
                    </div>
                </div>
                <div class="row errortank">
                    <div class="col-md-12">
                        <span class="tank_error label label-danger">Ошибка</span>
                    </div>
                </div>
                <div class="row service">
                    <div class="col-md-12">
            <span class="tank_service label label-default">
                <i class="fa fa-wrench" aria-hidden="true"> </i> В ремонте
            </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="park_name">Статус</div>
        <div class="portstatus standby off">Останов причала</div>
        <div class="park_name" style="margin-top: 15px;">Ветер</div>
        <div class="port_winddirection">
            <div class="port_wind_arrow"></div>
            <div class="port_winddirection_val">0&deg;</div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="port_scheme">
            <div class="row">
                <div class="ship"></div>
                <div class="label-danger label timestamp_port_valve" data-tooltip="Данные не получены">
                    <i class="fa fa-clock-o"></i>
                </div>
            </div>
            <div class="row">
                <svg id="portSvgScheme" width="780" height="360"  xmlns="http://www.w3.org/2000/svg">
                    <defs>
                        <linearGradient id="svg_18" spreadMethod="pad">
                            <stop stop-color="#545454" stop-opacity="0.99609" offset="0"/>
                            <stop stop-color="#a3a3a3" stop-opacity="0.99609" offset="1"/>
                        </linearGradient>
                        <linearGradient id="svg_45" x1="0" y1="0" x2="0" y2="1">
                            <stop stop-color="#ffffff" offset="0"/>
                            <stop stop-color="#757575" stop-opacity="0.99219" offset="1"/>
                        </linearGradient>
                        <linearGradient id="svg_59">
                            <stop stop-color="#5b5b5b" offset="0"/>
                            <stop stop-color="#a4a4a4" offset="1"/>
                        </linearGradient>
                        <linearGradient id="svg_60" x1="0" y1="0" x2="1" y2="0">
                            <stop stop-color="#bababa" stop-opacity="0.99609" offset="0"/>
                            <stop stop-color="#dbdbdb" stop-opacity="0.99609" offset="1"/>
                        </linearGradient>
                        <pattern height="100" width="100" y="0" x="0" patternUnits="userSpaceOnUse" id="gridpattern">
                            <image height="100" width="100" y="0" x="0" id="svg_1"/>
                        </pattern>
                        <pattern id="gridpattern" patternUnits="userSpaceOnUse" x="0" y="0" width="100" height="100">
                            <image id="svg_2" x="0" y="0" width="100" height="100"/>
                        </pattern>
                    </defs>
                    <g>
                        <title>Layer 1</title>
                        <line fill="none" stroke-width="3" x1="143.35156" y1="43.58179" x2="143.35156" y2="157.46508" id="svg_89" stroke="#2eff00"/>
                        <line fill="none" stroke-width="3" x1="329.5625" y1="0.68335" x2="329.5625" y2="360.51977" id="svg_3" stroke="#2eff00"/>
                        <g stroke="null" id="zadvsmt2">
                            <path fill="#bfbfbf" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" d="m134.1875,53.12629l17.98049,0l-8.87195,10.88294l-9.10854,-10.88294z" stroke="#000000" id="svg_12"/>
                            <path fill="#bfbfbf" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" d="m152.375,75.21746l-17.98049,0l8.87195,-10.88294l9.10854,10.88294z" stroke="#000000" id="svg_13"/>
                        </g>
                        <g id="svg_25" stroke="null">
                            <rect fill="url(#svg_18)" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="323.0192" y="57.28125" width="13.76205" height="2.12815" id="svg_15" stroke="#000000"/>
                            <rect fill="url(#svg_18)" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="322.98373" y="67.81561" width="13.76205" height="2.12815" id="svg_19" stroke="#000000"/>
                            <rect fill="url(#svg_18)" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="324.75718" y="59.38281" width="10.21513" height="8.53921" id="svg_20" stroke="#000000"/>
                            <rect fill="url(#svg_18)" stroke-width="null" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="321.72457" y="60.89911" width="3.11242" height="5.18737" id="svg_22" stroke="#000000"/>
                            <rect fill="#000000" stroke-width="null" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="318.85156" y="62.49523" width="2.7932" height="1.99514" id="svg_24" stroke="#000000"/>
                        </g>
                        <g id="svg_39">
                            <rect fill="url(#svg_18)" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="136.44498" y="139.54374" width="13.76205" height="2.12815" stroke="#000000" id="svg_27"/>
                            <rect fill="url(#svg_18)" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="136.4095" y="150.0781" width="13.76205" height="2.12815" stroke="#000000" id="svg_28"/>
                            <rect fill="url(#svg_18)" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="138.18296" y="141.6453" width="10.21513" height="8.53921" stroke="#000000" id="svg_29"/>
                            <rect fill="url(#svg_18)" stroke-width="null" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="135.15034" y="143.1616" width="3.11242" height="5.18737" stroke="#000000" id="svg_30"/>
                            <rect fill="#000000" stroke-width="null" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="132.27734" y="144.75772" width="2.7932" height="1.99514" stroke="#000000" id="svg_31"/>
                            <line fill="none" stroke="#000000" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x1="131.78706" y1="145.76127" x2="131.78706" y2="139.86375" id="svg_32"/>
                        </g>
                        <g id="svg_71" stroke="null">
                            <rect fill="url(#svg_59)" stroke-width="0" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="137.5821" y="129.09999" width="11.06027" height="2.81724" id="svg_64" stroke="#000000"/>
                            <rect fill="url(#svg_59)" stroke-width="0" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="137.42559" y="85.23405" width="11.06027" height="2.81724" id="svg_65" stroke="#000000"/>
                            <rect fill="url(#svg_59)" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="135.86046" y="83.04287" width="14.08619" height="2.08684" id="svg_66" stroke="#000000"/>
                            <rect fill="url(#svg_60)" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="135.75612" y="87.94695" width="14.29487" height="41.00646" id="svg_67" stroke="#000000"/>
                            <rect fill="url(#svg_59)" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="136.01697" y="132.02157" width="14.08619" height="2.08684" id="svg_68" stroke="#000000"/>
                            <text fill="#000000" stroke-width="0" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="178.08859" y="43.29499" font-size="24" font-family="serif" text-anchor="middle" xml:space="preserve" id="svg_69" stroke="#000000" transform="matrix(0.586262583732605,0,0,0.586262583732605,38.30556580629673,86.8068839232892) ">2</text>
                        </g>
                        <line fill="none" stroke-width="3" x1="361.25" y1="0.55054" x2="361.25" y2="239.95041" id="svg_72" stroke="#00aeff"/>
                        <g stroke="null" id="svg_73">
                            <rect fill="url(#svg_18)" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="354.34341" y="57.06718" width="13.76205" height="2.12815" stroke="#000000" id="svg_74"/>
                            <rect fill="url(#svg_18)" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="354.30794" y="67.60154" width="13.76205" height="2.12815" stroke="#000000" id="svg_75"/>
                            <rect fill="url(#svg_18)" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="356.08139" y="59.16873" width="10.21513" height="8.53921" stroke="#000000" id="svg_76"/>
                            <rect fill="url(#svg_18)" stroke-width="null" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="353.04878" y="60.68504" width="3.11242" height="5.18737" stroke="#000000" id="svg_77"/>
                            <rect fill="#000000" stroke-width="null" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="350.17577" y="62.28116" width="2.7932" height="1.99514" stroke="#000000" id="svg_78"/>
                        </g>
                        <line fill="none" stroke-width="3" x1="300.5" y1="0.97241" x2="300.5" y2="359.84645" id="svg_79" stroke="#00f6ff"/>
                        <g stroke="null" id="svg_80">
                            <rect fill="url(#svg_18)" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="293.59342" y="177.72343" width="13.76205" height="2.12815" stroke="#000000" id="svg_81"/>
                            <rect fill="url(#svg_18)" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="293.55795" y="188.25779" width="13.76205" height="2.12815" stroke="#000000" id="svg_82"/>
                            <rect fill="url(#svg_18)" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="295.3314" y="179.82499" width="10.21513" height="8.53921" stroke="#000000" id="svg_83"/>
                            <rect fill="url(#svg_18)" stroke-width="null" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="292.29879" y="181.3413" width="3.11242" height="5.18737" stroke="#000000" id="svg_84"/>
                            <rect fill="#000000" stroke-width="null" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="289.42578" y="182.93741" width="2.7932" height="1.99514" stroke="#000000" id="svg_85"/>
                        </g>
                        <line fill="none" stroke-width="3" x1="237.00781" y1="-48.38695" x2="237.00781" y2="138.19945" id="svg_87" stroke="#2eff00" transform="rotate(-90 237.0078125,44.90624618530271) "/>
                        <line fill="none" stroke-width="3" x1="440.82397" y1="-34.65625" x2="440.82397" y2="124.46872" id="svg_88" stroke="#00aeff" transform="rotate(-90 440.82397460937506,44.90623855590818) "/>
                        <line fill="none" stroke-width="3" x1="235.15553" y1="64.28222" x2="235.15553" y2="250.98728" id="svg_90" stroke="#2eff00" transform="rotate(-90 235.1555328369141,157.6347351074219) "/>
                        <line fill="none" stroke-width="3" x1="190.88281" y1="44.84742" x2="190.88281" y2="158.73071" stroke="#2eff00" id="svg_91"/>
                        <g id="svg_70" stroke="null">
                            <rect fill="url(#svg_59)" stroke-width="0" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="184.93925" y="129.55455" width="11.06027" height="2.81724" id="svg_61" stroke="#000000"/>
                            <rect fill="url(#svg_59)" stroke-width="0" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="184.78274" y="85.68862" width="11.06027" height="2.81724" id="svg_55" stroke="#000000"/>
                            <rect fill="url(#svg_59)" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="183.2176" y="83.49743" width="14.08619" height="2.08684" id="svg_52" stroke="#000000"/>
                            <rect fill="url(#svg_60)" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="183.11326" y="88.40151" width="14.29487" height="41.00646" id="svg_58" stroke="#000000"/>
                            <rect fill="url(#svg_59)" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="183.37412" y="132.47613" width="14.08619" height="2.08684" id="svg_62" stroke="#000000"/>
                            <text fill="#000000" stroke-width="0" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="229.91163" y="43.74956" id="svg_63" font-size="24" font-family="serif" text-anchor="middle" xml:space="preserve" stroke="#000000" transform="matrix(0.586262583732605,0,0,0.586262583732605,55.280807450251814,86.9949521244398) ">1</text>
                        </g>
                        <g stroke="null" id="zadvsmt1">
                            <path fill="#bfbfbf" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" d="m181.71875,53.54818l17.98049,0l-8.87195,10.88293l-9.10854,-10.88293z" stroke="#000000" id="svg_93"/>
                            <path fill="#bfbfbf" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" d="m199.90625,75.63934l-17.98049,0l8.87195,-10.88293l9.10854,10.88293z" stroke="#000000" id="svg_94"/>
                        </g>
                        <line fill="none" stroke-width="3" x1="471.41133" y1="45.00561" x2="471.41133" y2="158.8889" stroke="#00aeff" id="svg_95"/>
                        <g stroke="null" id="svg_96">
                            <rect fill="url(#svg_59)" stroke-width="0" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="465.64188" y="130.52382" width="11.06027" height="2.81724" stroke="#000000" id="svg_97"/>
                            <rect fill="url(#svg_59)" stroke-width="0" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="465.48536" y="86.65788" width="11.06027" height="2.81724" stroke="#000000" id="svg_98"/>
                            <rect fill="url(#svg_59)" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="463.92023" y="84.46669" width="14.08619" height="2.08684" stroke="#000000" id="svg_99"/>
                            <rect fill="url(#svg_60)" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="463.81589" y="89.37077" width="14.29487" height="41.00646" stroke="#000000" id="svg_100"/>
                            <rect fill="url(#svg_59)" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="464.07674" y="133.4454" width="14.08619" height="2.08684" stroke="#000000" id="svg_101"/>
                            <text fill="#000000" stroke-width="0" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="737.66681" y="45.72364" font-size="24" font-family="serif" text-anchor="middle" xml:space="preserve" stroke="#000000" transform="matrix(0.586262583732605,0,0,0.586262583732605,38.30556580629673,86.8068839232892) " id="svg_102">2</text>
                        </g>
                        <line fill="none" stroke-width="3" x1="518.94258" y1="46.27125" x2="518.94258" y2="160.15454" stroke="#00aeff" id="svg_103"/>
                        <g stroke="null" id="svg_104">
                            <rect fill="url(#svg_59)" stroke-width="0" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="512.99902" y="130.97838" width="11.06027" height="2.81724" stroke="#000000" id="svg_105"/>
                            <rect fill="url(#svg_59)" stroke-width="0" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="512.84251" y="87.11244" width="11.06027" height="2.81724" stroke="#000000" id="svg_106"/>
                            <rect fill="url(#svg_59)" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="511.27738" y="84.92126" width="14.08619" height="2.08684" stroke="#000000" id="svg_107"/>
                            <rect fill="url(#svg_60)" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="511.17304" y="89.82534" width="14.29487" height="41.00646" stroke="#000000" id="svg_108"/>
                            <rect fill="url(#svg_59)" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="511.43389" y="133.89996" width="14.08619" height="2.08684" stroke="#000000" id="svg_109"/>
                            <text fill="#000000" stroke-width="0" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="789.48985" y="46.17821" font-size="24" font-family="serif" text-anchor="middle" xml:space="preserve" stroke="#000000" transform="matrix(0.586262583732605,0,0,0.586262583732605,55.280807450251814,86.9949521244398) " id="svg_110">1</text>
                        </g>
                        <line fill="none" stroke-width="3" x1="440.7207" y1="79.19452" x2="440.7207" y2="238.04265" id="svg_111" stroke="#00aeff" transform="rotate(-90 440.72070312500006,158.61859130859372) "/>
                        <g stroke="null" id="zadvoil2">
                            <path fill="#bfbfbf" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" d="m462.125,54.67316l17.98049,0l-8.87195,10.88293l-9.10854,-10.88293z" stroke="#000000" id="svg_113"/>
                            <path fill="#bfbfbf" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" d="m480.3125,76.76432l-17.98049,0l8.87195,-10.88293l9.10854,10.88293z" stroke="#000000" id="svg_114"/>
                        </g>
                        <g stroke="null" id="zadvoil1">
                            <path fill="#bfbfbf" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" d="m509.65625,54.67317l17.98049,0l-8.87195,10.88293l-9.10854,-10.88293z" stroke="#000000" id="svg_116"/>
                            <path fill="#bfbfbf" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" d="m527.84375,76.76433l-17.98049,0l8.87195,-10.88293l9.10854,10.88293z" stroke="#000000" id="svg_117"/>
                        </g>
                        <g id="svg_118">
                            <rect fill="url(#svg_18)" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="183.72919" y="139.75468" width="13.76205" height="2.12815" stroke="#000000" id="svg_119"/>
                            <rect fill="url(#svg_18)" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="183.69371" y="150.28904" width="13.76205" height="2.12815" stroke="#000000" id="svg_120"/>
                            <rect fill="url(#svg_18)" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="185.46717" y="141.85624" width="10.21513" height="8.53921" stroke="#000000" id="svg_121"/>
                            <rect fill="url(#svg_18)" stroke-width="null" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="182.43455" y="143.37255" width="3.11242" height="5.18737" stroke="#000000" id="svg_122"/>
                            <rect fill="#000000" stroke-width="null" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="179.56155" y="144.96866" width="2.7932" height="1.99514" stroke="#000000" id="svg_123"/>
                            <line fill="none" stroke="#000000" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x1="179.07127" y1="145.97221" x2="179.07127" y2="140.0747" id="svg_124"/>
                        </g>
                        <g id="svg_125">
                            <rect fill="url(#svg_18)" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="464.27607" y="141.02031" width="13.76205" height="2.12815" stroke="#000000" id="svg_126"/>
                            <rect fill="url(#svg_18)" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="464.24059" y="151.55467" width="13.76205" height="2.12815" stroke="#000000" id="svg_127"/>
                            <rect fill="url(#svg_18)" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="466.01405" y="143.12187" width="10.21513" height="8.53921" stroke="#000000" id="svg_128"/>
                            <rect fill="url(#svg_18)" stroke-width="null" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="462.98143" y="144.63817" width="3.11242" height="5.18737" stroke="#000000" id="svg_129"/>
                            <rect fill="#000000" stroke-width="null" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="460.10843" y="146.23429" width="2.7932" height="1.99514" stroke="#000000" id="svg_130"/>
                            <line fill="none" stroke="#000000" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x1="459.61815" y1="147.23784" x2="459.61815" y2="141.34033" id="svg_131"/>
                        </g>
                        <g id="svg_132">
                            <rect fill="url(#svg_18)" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="511.94792" y="141.0203" width="13.76205" height="2.12815" stroke="#000000" id="svg_133"/>
                            <rect fill="url(#svg_18)" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="511.91245" y="151.55466" width="13.76205" height="2.12815" stroke="#000000" id="svg_134"/>
                            <rect fill="url(#svg_18)" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="513.68591" y="143.12186" width="10.21513" height="8.53921" stroke="#000000" id="svg_135"/>
                            <rect fill="url(#svg_18)" stroke-width="null" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="510.65329" y="144.63817" width="3.11242" height="5.18737" stroke="#000000" id="svg_136"/>
                            <rect fill="#000000" stroke-width="null" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="507.78029" y="146.23428" width="2.7932" height="1.99514" stroke="#000000" id="svg_137"/>
                            <line fill="none" stroke="#000000" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x1="507.29001" y1="147.23783" x2="507.29001" y2="141.34032" id="svg_138"/>
                        </g>
                        <g id="svg_51">
                            <rect fill="#ffffff" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="383.12446" y="153.56965" width="3.9044" height="10.41174" id="svg_41" stroke="#000000"/>
                            <rect fill="#ffffff" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="428.0251" y="153.56968" width="3.9044" height="10.41174" stroke="#000000" id="svg_42"/>
                            <rect fill="url(#svg_45)" stroke="#000000" stroke-width="null" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="387.02885" y="155.67202" width="41.04629" height="6.40723" id="svg_43"/>
                            <rect fill="#000000" stroke-width="0" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="404.34838" y="145.82759" width="4.30485" height="9.74432" id="svg_46" stroke="#000000"/>
                            <rect fill="#000000" stroke-width="0" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="398.64194" y="143.22465" width="15.88458" height="2.80316" id="svg_47" stroke="#000000"/>
                            <rect fill="#3a3a3a" stroke-width="null" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="392.83543" y="138.01881" width="28.1651" height="5.50621" id="svg_48" stroke="#000000"/>
                            <rect fill="#ff0000" stroke-width="0" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="392.43498" y="137.26796" width="29.05986" height="0.90102" id="svg_50" stroke="#000000"/>
                        </g>
                        <g id="svg_147">
                            <rect fill="#ffffff" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="217.14044" y="152.35316" width="3.9044" height="10.41174" stroke="#000000" id="svg_148"/>
                            <rect fill="#ffffff" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="262.04109" y="152.35319" width="3.9044" height="10.41174" stroke="#000000" id="svg_149"/>
                            <rect fill="url(#svg_45)" stroke="#000000" stroke-width="null" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="221.04483" y="154.45553" width="41.04629" height="6.40723" id="svg_150"/>
                            <rect fill="#000000" stroke-width="0" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="238.36437" y="144.6111" width="4.30485" height="9.74432" stroke="#000000" id="svg_151"/>
                            <rect fill="#000000" stroke-width="0" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="232.65793" y="142.00816" width="15.88458" height="2.80316" stroke="#000000" id="svg_152"/>
                            <rect fill="#3a3a3a" stroke-width="null" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="226.85142" y="136.80232" width="28.1651" height="5.50621" stroke="#000000" id="svg_153"/>
                            <rect fill="#ff0000" stroke-width="0" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="226.45096" y="136.05147" width="29.05986" height="0.90102" stroke="#000000" id="svg_154"/>
                        </g>
                        <line fill="none" stroke-width="3" x1="144.29779" y1="168.87538" x2="144.29779" y2="282.75867" stroke="#00fceb" id="svg_155"/>
                        <g stroke="null" id="zadvdt2">
                            <path fill="#bfbfbf" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" d="m135.13372,178.41989l17.98049,0l-8.87195,10.88293l-9.10854,-10.88293z" stroke="#000000" id="svg_157"/>
                            <path fill="#bfbfbf" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" d="m153.32122,200.51105l-17.98049,0l8.87195,-10.88293l9.10854,10.88293z" stroke="#000000" id="svg_158"/>
                        </g>
                        <g id="svg_159">
                            <rect fill="url(#svg_18)" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="137.3912" y="264.83733" width="13.76205" height="2.12815" stroke="#000000" id="svg_160"/>
                            <rect fill="url(#svg_18)" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="137.35573" y="275.37169" width="13.76205" height="2.12815" stroke="#000000" id="svg_161"/>
                            <rect fill="url(#svg_18)" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="139.12919" y="266.93889" width="10.21513" height="8.53921" stroke="#000000" id="svg_162"/>
                            <rect fill="url(#svg_18)" stroke-width="null" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="136.09657" y="268.45519" width="3.11242" height="5.18737" stroke="#000000" id="svg_163"/>
                            <rect fill="#000000" stroke-width="null" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="133.22357" y="270.05131" width="2.7932" height="1.99514" stroke="#000000" id="svg_164"/>
                            <line fill="none" stroke="#000000" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x1="132.73329" y1="271.05486" x2="132.73329" y2="265.15735" id="svg_165"/>
                        </g>
                        <g stroke="null" id="svg_166">
                            <rect fill="url(#svg_59)" stroke-width="0" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="138.52833" y="254.39358" width="11.06027" height="2.81724" stroke="#000000" id="svg_167"/>
                            <rect fill="url(#svg_59)" stroke-width="0" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="138.37182" y="210.52764" width="11.06027" height="2.81724" stroke="#000000" id="svg_168"/>
                            <rect fill="url(#svg_59)" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="136.80669" y="208.33646" width="14.08619" height="2.08684" stroke="#000000" id="svg_169"/>
                            <rect fill="url(#svg_60)" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="136.70234" y="213.24054" width="14.29487" height="41.00646" stroke="#000000" id="svg_170"/>
                            <rect fill="url(#svg_59)" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="136.9632" y="257.31516" width="14.08619" height="2.08684" stroke="#000000" id="svg_171"/>
                            <text fill="#000000" stroke-width="0" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="179.7026" y="257.01081" font-size="24" font-family="serif" text-anchor="middle" xml:space="preserve" stroke="#000000" transform="matrix(0.586262583732605,0,0,0.586262583732605,38.30556580629673,86.8068839232892) " id="svg_172">2</text>
                        </g>
                        <line fill="none" stroke-width="3" x1="221.71185" y1="93.14883" x2="221.71185" y2="247.25085" id="svg_173" stroke="#00fceb" transform="rotate(-90 221.71185302734378,170.1998291015625) "/>
                        <line fill="none" stroke-width="3" x1="220.70332" y1="204.97425" x2="220.70332" y2="360.88244" id="svg_174" stroke="#00fceb" transform="rotate(-90 220.7033233642579,282.92834472656256) "/>
                        <line fill="none" stroke-width="3" x1="191.82904" y1="170.14101" x2="191.82904" y2="284.0243" stroke="#00fceb" id="svg_175"/>
                        <g stroke="null" id="svg_176">
                            <rect fill="url(#svg_59)" stroke-width="0" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="185.88548" y="254.84814" width="11.06027" height="2.81724" stroke="#000000" id="svg_177"/>
                            <rect fill="url(#svg_59)" stroke-width="0" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="185.72896" y="210.98221" width="11.06027" height="2.81724" stroke="#000000" id="svg_178"/>
                            <rect fill="url(#svg_59)" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="184.16383" y="208.79102" width="14.08619" height="2.08684" stroke="#000000" id="svg_179"/>
                            <rect fill="url(#svg_60)" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="184.05949" y="213.6951" width="14.29487" height="41.00646" stroke="#000000" id="svg_180"/>
                            <rect fill="url(#svg_59)" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="184.32035" y="257.76972" width="14.08619" height="2.08684" stroke="#000000" id="svg_181"/>
                            <text fill="#000000" stroke-width="0" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="231.52563" y="257.46538" font-size="24" font-family="serif" text-anchor="middle" xml:space="preserve" stroke="#000000" transform="matrix(0.586262583732605,0,0,0.586262583732605,55.280807450251814,86.9949521244398) " id="svg_182">1</text>
                        </g>
                        <g stroke="null" id="zadvdt1">
                            <path fill="#bfbfbf" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" d="m182.66497,178.84177l17.98049,0l-8.87195,10.88293l-9.10854,-10.88293z" stroke="#000000" id="svg_184"/>
                            <path fill="#bfbfbf" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" d="m200.85247,200.93293l-17.98049,0l8.87195,-10.88293l9.10854,10.88293z" stroke="#000000" id="svg_185"/>
                        </g>
                        <g id="svg_186">
                            <rect fill="url(#svg_18)" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="184.67541" y="265.04827" width="13.76205" height="2.12815" stroke="#000000" id="svg_187"/>
                            <rect fill="url(#svg_18)" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="184.63994" y="275.58263" width="13.76205" height="2.12815" stroke="#000000" id="svg_188"/>
                            <rect fill="url(#svg_18)" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="186.4134" y="267.14983" width="10.21513" height="8.53921" stroke="#000000" id="svg_189"/>
                            <rect fill="url(#svg_18)" stroke-width="null" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="183.38078" y="268.66614" width="3.11242" height="5.18737" stroke="#000000" id="svg_190"/>
                            <rect fill="#000000" stroke-width="null" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="180.50778" y="270.26225" width="2.7932" height="1.99514" stroke="#000000" id="svg_191"/>
                            <line fill="none" stroke="#000000" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x1="180.0175" y1="271.2658" x2="180.0175" y2="265.36829" id="svg_192"/>
                        </g>
                        <g id="svg_193">
                            <rect fill="#ffffff" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="218.08667" y="277.64675" width="3.9044" height="10.41174" stroke="#000000" id="svg_194"/>
                            <rect fill="#ffffff" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="262.98732" y="277.64678" width="3.9044" height="10.41174" stroke="#000000" id="svg_195"/>
                            <rect fill="url(#svg_45)" stroke="#000000" stroke-width="null" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="221.99106" y="279.74912" width="41.04629" height="6.40723" id="svg_196"/>
                            <rect fill="#000000" stroke-width="0" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="239.3106" y="269.90469" width="4.30485" height="9.74432" stroke="#000000" id="svg_197"/>
                            <rect fill="#000000" stroke-width="0" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="233.60416" y="267.30175" width="15.88458" height="2.80316" stroke="#000000" id="svg_198"/>
                            <rect fill="#3a3a3a" stroke-width="null" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="227.79764" y="262.09591" width="28.1651" height="5.50621" stroke="#000000" id="svg_199"/>
                            <rect fill="#ff0000" stroke-width="0" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="227.39719" y="261.34506" width="29.05986" height="0.90102" stroke="#000000" id="svg_200"/>
                        </g>
                        <line fill="none" stroke-width="3" x1="385.81984" y1="213.70947" x2="385.81984" y2="266.47802" id="svg_201" stroke="#00aeff" transform="rotate(-90 385.81982421875,240.09374999999997) "/>
                        <line fill="none" stroke-width="3" x1="335.9375" y1="353.3512" x2="335.9375" y2="364.776" id="svg_205" stroke="#2eff00" transform="rotate(-90 335.93750000000006,359.0635986328125) "/>
                        <line fill="none" stroke-width="3" x1="293.27539" y1="352.64999" x2="293.27539" y2="364.0748" stroke="#00ffe9" id="svg_206" transform="rotate(-90 293.27539062500006,358.3623962402344) "/>
                    </g>
                </svg>
                <div id="tankdt">
                    <div href="#fancycontainer" class="tank_port" data-product="oil">
                        <span class="tank_title_port">*</span>
                        <div class="tends"></div>
                        <div class="progress_tank_port" id="progress_tank_port_dt">
                            <div class="glyphicon glyphicon-chevron-up tank_arrow_top _neutral"></div>
                            <p class="progress_tank_val_real">----</p>
                            <p class="progress_tank_val" style="color: darkgreen">0%</p>
                            <div class="glyphicon glyphicon-chevron-down tank_arrow_bottom _neutral"></div>
                        </div>
                        <div class="row prod_cont">
                            <div class="col-md-12">
                                <span class="tank_prod label label-warning">Данные не получены</span>
                            </div>
                        </div>
                        <div class="row pereliv">
                            <div class="col-md-12">
                                <span class="tank_pereliv label label-danger">Перелив</span>
                            </div>
                        </div>
                        <div class="row errortank">
                            <div class="col-md-12">
                                <span class="tank_error label label-danger">Ошибка</span>
                            </div>
                        </div>
                        <div class="row service">
                            <div class="col-md-12">
                <span class="tank_service label label-default">
                    <i class="fa fa-wrench" aria-hidden="true"> </i> В ремонте
                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tankoil">
                    <div href="#fancycontainer" class="tank_port" data-product="dt">
                        <span class="tank_title_port">*</span>
                        <div class="tends"></div>
                        <div class="progress_tank_port" id="progress_tank_port_oil">
                            <div class="glyphicon glyphicon-chevron-up tank_arrow_top _neutral"></div>
                            <p class="progress_tank_val_real">----</p>
                            <p class="progress_tank_val" style="color: darkgreen">0%</p>
                            <div class="glyphicon glyphicon-chevron-down tank_arrow_bottom _neutral"></div>
                        </div>
                        <div class="row prod_cont">
                            <div class="col-md-12">
                                <span class="tank_prod label label-warning">Данные не получены</span>
                            </div>
                        </div>
                        <div class="row pereliv">
                            <div class="col-md-12">
                                <span class="tank_pereliv label label-danger">Перелив</span>
                            </div>
                        </div>
                        <div class="row errortank">
                            <div class="col-md-12">
                                <span class="tank_error label label-danger">Ошибка</span>
                            </div>
                        </div>
                        <div class="row service">
                            <div class="col-md-12">
                <span class="tank_service label label-default">
                    <i class="fa fa-wrench" aria-hidden="true"> </i> В ремонте
                </span>
                            </div>
                        </div>
                    </div>

                </div>
                <div id="tanksmt">
                    <div href="#fancycontainer" class="tank_port" data-product="smt">
                        <span class="tank_title_port">*</span>
                        <div class="tends"></div>
                        <div class="progress_tank_port" id="progress_tank_port_smt">
                            <div class="glyphicon glyphicon-chevron-up tank_arrow_top _neutral"></div>
                            <p class="progress_tank_val_real">----</p>
                            <p class="progress_tank_val" style="color: darkgreen">0%</p>
                            <div class="glyphicon glyphicon-chevron-down tank_arrow_bottom _neutral"></div>
                        </div>
                        <div class="row prod_cont">
                            <div class="col-md-12">
                                <span class="tank_prod label label-warning">Данные не получены</span>
                            </div>
                        </div>
                        <div class="row pereliv">
                            <div class="col-md-12">
                                <span class="tank_pereliv label label-danger">Перелив</span>
                            </div>
                        </div>
                        <div class="row errortank">
                            <div class="col-md-12">
                                <span class="tank_error label label-danger">Ошибка</span>
                            </div>
                        </div>
                        <div class="row service">
                            <div class="col-md-12">
                <span class="tank_service label label-default">
                    <i class="fa fa-wrench" aria-hidden="true"> </i> В ремонте
                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>