<div class="row">
    <div class="col-md-1">
        <h3 class="label" data-ts="1">1</h3>
    </div>
    <div class="col-md-1">
        <h3 class="label" data-ts="2">2</h3>
    </div>
    <div class="col-md-1">
        <h3 class="label" data-ts="3">3</h3>
    </div>
    <div class="col-md-1">
        <h3 class="label" data-ts="4">4</h3>
    </div>
    <div class="col-md-1">
        <h3 class="label " data-ts="5">5</h3>
    </div>
    <div class="col-md-1">
        <h3 class="label " data-ts="6">6</h3>
    </div>
    <div class="col-md-1">
        <h3 class="label " data-ts="7">7</h3>
    </div>
    <div class="col-md-1">
        <h3 class="label " data-ts="8">8</h3>
    </div>
    <div class="col-md-1">
        <h3 class="label " data-ts="9">9</h3>
    </div>
    <div class="col-md-1">
        <h3 class="label " data-ts="10">10</h3>
    </div>
    <div class="col-md-1">
        <h3 class="label " data-ts="11">11</h3>
    </div>
    <div class="col-md-1">
        <h3 class="label " data-ts="12">12</h3>
    </div>
    <div class="col-md-1">
        <h3 class="label " data-ts="13">13</h3>
    </div>
    <div class="col-md-1">
        <h3 class="label " data-ts="14">14</h3>
    </div>
    <div class="col-md-1">
        <h3 class="label " data-ts="15">15</h3>
    </div>
    <div class="col-md-1">
        <h3 class="label " data-ts="16">16</h3>
    </div>
    <div class="col-md-1">
        <h3 class="label " data-ts="17">17</h3>
    </div>
    <div class="col-md-1">
        <h3 class="label " data-ts="18">18</h3>
    </div>
    <div class="col-md-1">
        <h3 class="label " data-ts="19">19</h3>
    </div>
    <div class="col-md-1">
        <h3 class="label " data-ts="20">20</h3>
    </div>
    <div class="col-md-1">
        <h3 class="label" data-ts="51">51</h3>
    </div>
    <div class="col-md-1">
        <h3 class="label" data-ts="52">52</h3>
    </div>
    <div class="col-md-1">
        <h3 class="label" data-ts="53">53</h3>
    </div>
    <div class="col-md-1">
        <h3 class="label" data-ts="54">54</h3>
    </div>
    <div class="col-md-1">
        <h3 class="label" data-ts="55">55</h3>
    </div>
    <div class="col-md-1">
        <h3 class="label" data-ts="56">56</h3>
    </div>
    <div class="col-md-1">
        <h3 class="label" data-ts="69">69</h3>
    </div>
    <div class="col-md-1">
        <h3 class="label" data-ts="70">70</h3>
    </div>
    <div class="col-md-1">
        <h3 class="label" data-ts="71">71</h3>
    </div>
    <div class="col-md-1">
        <h3 class="label" data-ts="72">72</h3>
    </div>
    <div class="col-md-1">
        <h3 class="label" data-ts="73">73</h3>
    </div>
</div>