<div class="container-fluid system-about">
    <div class="row system-about">
        <div class="col-sm-4 system-rightbar">
            <h3>Разработка:</h3>
            <h2 class="val">
                Савин Сергей Владимирович
                <img src="style/ssv.jpg" class="img-respositive img-circle author_img">
                <img src="style/sibintek_logo.png" class="img-respositive img-rounded vendor_img">
            </h2>
            <div class="devider"></div>
            <h3>Контакты:</h3>
            <h4>Электронная почта:</h4>
            <h2 class="val">
                alter4444@gmail.com
                <a href="mailto:alter4444@gmail.com">
                    <i class="fa fa-reply" aria-hidden="true"></i>
                </a>
            </h2>
            <h4>Телефон:</h4>
            <h2 class="val">8 917 121 5000</h2>
            <div class="devider"></div>
            <h3>Что нового:</h3>
            <div class="whatnews">
                <ul>
                    <li>Добавлен модуль АСН</li>
                    <li>Добавлен модуль СКЗ парка</li>
                    <li>Добавлен модуль СКЗ ЖД эстакады</li>
                    <li>Добавлен модуль Суммарного баланса парка</li>
                    <li>Добавлен модуль Расчета протечек</li>
                    <li>Добавлен модуль Причала</li>
                    <li>Добавлен модуль Трендов парка</li>
                    <li>Добавлен модуль Трендов причала</li>
                    <li>Добавлен модуль SmartRenderer</li>
                    <li>Добавлена поддержка GPU</li>
                </ul>
            </div>
            <h3>Сторонние продукты:</h3>
            <a href="http://10.210.30.211/sku/" target="_blank">
                <h4 class="val label label-default label-lg">Система контроля протечек</h4>
            </a>
        </div>
        <div class="col-sm-8 system-logs">
            <div class="status">
                <span>Статус системы:</span>
                <span class="label label-primary status"></span>

                <span>Сектор:</span>
                <span class="label label-primary sector"></span>

                <span>Вход выполнен как:</span>
                <span class="label label-primary userLogin"></span>
            </div>

            <div class="invisedevider"></div>
            <div class="header">
                Последние посещения:
                <span class="visits val"></span>
                За сегодня
                <a class="fa fa-table table_btn_vd" aria-hidden="true" data-src="#fb_container" data-fancybox href="javascript:;"></a>:
                <span class="visits_d val"></span>
                (<span class="visits_du valu"></span>)
                За неделю
                <a class="fa fa-table table_btn_vw" aria-hidden="true" data-src="#fb_container" data-fancybox href="javascript:;"></a>:
                <span class="visits_w val"></span>
                (<span class="visits_wu valu"></span>)
                За месяц
                <a class="fa fa-table table_btn_vm" aria-hidden="true" data-src="#fb_container" data-fancybox href="javascript:;"></a>:
                <span class="visits_m val"></span>
                (<span class="visits_mu valu"></span>)
                За год
                <a class="fa fa-table table_btn_vy" aria-hidden="true" data-src="#fb_container" data-fancybox href="javascript:;"></a>:
                <span class="visits_y val"></span>
                (<span class="visits_yu valu"></span>)
            </div>

            <div class="visitContainer">
                <table class="tbl_visits" width="100%">
                    <tr style="border-bottom: 1px solid;">
                        <td>ID</td>
                        <td>IP</td>
                        <td>Real IP</td>
                        <td>Дата и время</td>
                        <td>Версия</td>
                        <td>Ревизия</td>
                        <td>Система</td>
                        <td>Браузер</td>
                    </tr>
                </table>
            </div>

            <div class="invisedevider"></div>
            <div class="header">Уникальные посетители <span class="uniqueips val"></span></div>

            <div class="uniqContainer">
                <table class="tbl_uniq" width="100%">
                    <tr style="border-bottom: 1px solid;">
                        <td>ID</td>
                        <td>IP адрес</td>
                        <td>Дата и время</td>
                        <td>Версия</td>
                        <td>Ревизия</td>
                        <td>Система</td>
                        <td>Браузер</td>
                        <td><i class="fa fa-refresh" aria-hidden="true"></i></td>
                    </tr>
                </table>
            </div>

            <div class="invisedevider"></div>
            <div class="header">Ждут обновления <span class="deffered val"></span></div>

            <div class="defferContainer">
                <table class="tbl_deffered" width="100%">
                    <tr style="border-bottom: 1px solid;">
                        <td>ID</td>
                        <td>IP адрес</td>
                        <td>Дата и время</td>
                        <td>Версия</td>
                        <td>Ревизия</td>
                        <td>Система</td>
                        <td>Браузер</td>
                        <td><i class="fa fa-trash" aria-hidden="true"></i></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="fancy" id="fb_container">
        <table class="tbl_fancy" width="450">
            <tr style="border-bottom: 1px solid;">
                <td>Визиты</td>
                <td>IP</td>
                <td>Real IP</td>
            </tr>
        </table>
    </div>
</div>
