.headerdark{
    background-color: #313131;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    color: #E0E0E0;
    text-shadow: 0 0 5px rgba(255,255,255,0.5);
    box-shadow: 0 0 10px 0px rgba(0,0,0,0.7);
    z-index: 100;
    position: relative;
}
.headerdark::after{
    border-bottom: 2px red solid;
    border-left:2px red solid;
}
.danger_field{
    width: 100%;
    height: 10px;
    background-color:#FFD100;
    box-shadow: 0 0 10px 0px rgba(0,0,0,0.7);
    z-index: 150;
    position: relative;
}
.myhide{
    /*transform: translate(0,-100px);*/
    margin-top: -100px;
}
body{
    margin: 0;
    background-color: #4c4c4c;
    margin-bottom: 30px;
}
#container{
    padding-top: 10px;
}
#menu{
    margin-bottom: 10px;
}
small{
    font-size: 50%;
}
.logo{
    margin-top: 15px;
    text-align: left;
    padding-left: 70px;
    padding-top: 10px;
    font-size: 125%;
    text-transform: uppercase;
    color: #FFD100;
    text-shadow: 0 0 10px #FFD100;
    background-image: url("rn_logo.png");
    background-repeat: no-repeat;
    background-position: left;
    line-height: 20px;
    background-size: 70px;
    height: 64px;
}
.logo_m{
    background-image: url("rn_logo.png");
    background-repeat: no-repeat;
    background-position: center;
    line-height: 20px;
    background-size: 70px;
    height: 64px;
}
.logo_title{
    text-align: left;
    font-weight: bold;
    font-size: 200%;
}
#loginform{
    padding: 10px;
    border-top: 1px solid red;
    display: none;
}
.btn{
    margin-top: 5px;
}
#sysmsg, #emer_code{
    color: white;
    text-align: center;
    font-size: 12px;
    font-family: Arial;
    margin-bottom: 15px;
    /*transition: all 1s ease;*/
}
.sys_err{
    background: #91151b;
}
.sys_ok{
    background: #1e9126;
}
.label-disabled{
    opacity: 0.3;
}
.btn_clsuc{
    margin-bottom: 15px;
}
.transparent{
    opacity:0;
    transform: translateX(-100%);
}
.transparentStatic{
    opacity:0;
}
.code_msg{
    text-align: center;
    font-size: 80%;
    color: white;
}
.mydevider{
    margin: 5px 0;
    border-bottom: 1px grey solid;
}
.row{
    margin-left: 0;
    margin-right: 0;
}
::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: #333;
}
::-webkit-scrollbar-thumb {
    background: #111;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}
::-webkit-scrollbar-corner {
    background: #000;
}
a{
    font-weight: bold;
    color: #FFD100;
}
a:hover{
    font-weight: bold;
    text-transform: uppercase;
    color: #bfd255;
}
#footer{
    position: fixed;
    bottom: 0;
    text-align: center;
    color: #FFD100;
    background-color: #333;
    font-size: 80%;
    width: 100%;
    line-height: 15px;
    border-top:3px solid #FFD100;
    padding-bottom: 10px;
}


.cont_panel{
    padding: 5px;
    background-color: #313131;
    background-image: url("bg.jpg");
    border-top:3px solid #FFD100;
    border-bottom:3px solid #FFD100;
    margin-top: 5px;
    margin-bottom: 5px;
    overflow: auto;
    /*transition: all .5s ease;*/
    text-align: center;
    /*font-size: 150% !important;*/
}
.btncont{
    text-align: center;
    height: 50px;
}
#wrapper{
    z-index: 0;
    position: relative;
    /*background-image: url("park_bg.jpg");*/
}
.tank {
    background-position: center center;
    background-image: url("tank.png");
    background-size: contain;
    height: 120px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-repeat: no-repeat;
    border-radius: 20px;
    border: 2px transparent solid;
    cursor: pointer;
}
.tank_pic {
    background-position: center center;
    background-image: url("tank.png");
    background-size: contain;
    height: 230px;
    background-repeat: no-repeat;
    border-radius: 20px;
    border: 2px transparent solid;
}
.tank:hover{
    border: 2px #FFD100 solid;

}
.tank_num{
    font-size: 150%;
    font-weight: bold;
    margin-top: 10px;
    text-shadow: 0 0 10px grey;
}
.tank_title{
    font-size: 100%;
    line-height: 30px;
    font-weight: bold;
    top: 30px;
    left: -8px;
    position: relative;
    text-shadow: 2px 2px 5px grey;
}
.rn_color{
    color: #FFD100;
    font-weight: bold;
}
.fancybox-wrap{
    background-color: #222;
}
.label-default{
    background-color: #111;
    color: #d22;
    border: 1px solid #930101;
    border-radius: 5px;
}
.vertline{
    border-left:1px solid grey;
    margin-left: 50px;
}
.demo{
    margin-top: 15px;
    text-align: center;
    padding-left: 70px;
    padding-top: 10px;
    font-size: 150%;
    text-transform: uppercase;
    color: #FF0000;
    text-shadow: 0 0 10px #FF0000;
    line-height: 20px;
    height: 64px;
}
.label-my-normal{
    background: #6db563; /* Old browsers */
    background: -moz-linear-gradient(top, #6db563 0%, #21680d 45%, #0f7516 64%, #3f663c 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #6db563 0%,#21680d 45%,#0f7516 64%,#3f663c 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #6db563 0%,#21680d 45%,#0f7516 64%,#3f663c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db563', endColorstr='#3f663c',GradientType=0 ); /* IE6-9 */
    border: 1px outset darkgreen;
}
.label-my-old{
    background: #a7cfdf; /* Old browsers */
    background: -moz-linear-gradient(top, #a7cfdf 0%, #23538a 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #a7cfdf 0%,#23538a 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #a7cfdf 0%,#23538a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#23538a',GradientType=0 ); /* IE6-9 */
    border: 1px outset #919191;
}
.label-my-error{
    background: #9b5858; /* Old browsers */
    background: -moz-linear-gradient(top, #9b5858 0%, #540101 45%, #a30000 75%, #4c0000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #9b5858 0%,#540101 45%,#a30000 75%,#4c0000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #9b5858 0%,#540101 45%,#a30000 75%,#4c0000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b5858', endColorstr='#4c0000',GradientType=0 ); /* IE6-9 */
    border: 1px outset #91151b;
}
.glyphicon-arrow-up{
    color: greenyellow;
}
.glyphicon-arrow-down{
    color: cyan;
}
.glyphicon-warning-sign{
    color: orange;
}
.glyphicon-ok-circle{
    color: green;
}
.glyphicon-remove-circle{
    color: red;
}
.glyphicon-glyphicon-transfer{
    color: yellow;
}
.copyright{
    float: right;
}
.conerror{
    font-size: 200%;
}
@media all and (max-width: 768px){
    .conerror{
        font-size: 75%;
    }
}
.verdescription{
    list-style-type: decimal;
    list-style-position: inside;
}
/*#maintrend{*/
    /*height: auto;*/
/*}*/
.btn_tank{
    background-position: center center;
    background-image: url('tank.png');
    background-repeat: no-repeat;
    background-size: 85%;
    height: 55px;
    width: 55px;
    margin: 10px;
    /*transition: all 0.5s ease;*/
    float: left;
    padding-top: 17px;
    padding-right: 9px;
    font-size: 130%;
    font-weight: bold;
    border: 2px outset rgba(200,200,200,0.3);
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}
.btn_tank:hover{
    border: 2px #FFD100 solid;
    color: #FFD100;
}
.btn_tank:active{
    border: 2px orangered solid;
    color: orangered;
}
.btn_tank.tank_actived{
    border: 2px #ffd100 solid;
    color: #ffd100;
    box-shadow: 0 0 10px 2px #ffd100;
}
/*кнопки выбора продукта*/
.btn_portproduct{
    display: block;
    background: url(bg2.png);
    padding-right: 9px;
    font-size: 130%;
    font-weight: bold;
    border: 2px outset rgba(200,200,200,0.3);
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    width: 100%;
    line-height: 5.5rem;
    color: #FFD100;
}
.btn_portproduct:hover{
    border: 2px #FFD100 solid;
    color: #FFD100;
    text-shadow: 0 0 10px #FFD100;
}
.btn_portproduct:active{
    border: 2px orangered solid;
    color: orangered;
}
.btn_portproduct.portproduct_actived{
    border: 2px orange solid;
    color: orange;
    box-shadow: 0 0 10px 2px orange;
}