.system-about .system-rightbar{
    background-color: #4c4c4c;
    box-shadow: 0 0 5px grey;
    color: #FFD100;
    min-height: 85vh;
    height: 100%;
    margin: -10px -35px;
    padding: 10px 30px;
}
.system-about .system-logs{
    height: 85vh;
    margin-left: 50px;
    color: #FFD100;
    font-size: 120%;
    overflow-y: auto;
}
.system-about .system-logs .val{
    color: orange;
    font-size: 120%;
}
.system-about .system-logs .valu{
    color: #FFD100;
    font-size: 120%;
}
.system-about .system-rightbar .val{
    color: #eeeeee;
}
.system-about .devider{
    border-bottom: 1px solid orange;
}
.system-about .invisedevider{
    height: 20px;
}
.system-about a{
    font-weight: bold;
    font-size: 150%;
}
.system-about a:hover{
    font-size: 150%;
    text-transform: none !important;
}
.system-about tr:nth-child(even){
    background-color: #333;
}
.system-about tr.logdata{
    font-size: 80%;
}
.system-about td:nth-child(1){
    width: 50px;
}
.system-about li{
    color: #eeeeee;
}
.system-about .header{
    color: #eeeeee;
    font-size: 90%;
}
.system-about .header .fa-table{
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
}
.system-about .visitContainer{
    max-height: 30vh;
    overflow-y: auto;
}
.system-about .uniqContainer{
    max-height: 30vh;
    overflow-y: auto;
}
.system-about .defferContainer{
    max-height: 20vh;
    overflow-y: auto;
}
.system-about .logdata{
    color: antiquewhite;
}
.system-about .author_img{
    height: 35px;
    margin-left: 10px;
}
.system-about .vendor_img{
    height: 35px;
    margin-left: 5px;
}