.gas3dwrapper{

}
.gasToggle3d{
    right: 1%;
    position: fixed;
    z-index: 1000;
}
.gas3dwrapper.with3d{
    transform-style: preserve-3d;
}
.gascontainer{
    /*overflow-y: scroll;*/
    max-height: 1000px;
    overflow-y: scroll;
	overflow-x:hidden;
    /*transform: translateY(-70px);*/
    /*transform-style: preserve-3d;*/

}
.gascontainer.with3d{
    perspective-origin: center center;
    perspective: 300px;
}
.gastrend{
    max-height: 150px;
}
.gasSelectParkPanel{
    /*line-height: 40px;*/
}
#gasview{
}
#gasview .btn{
    margin:auto;
}
.gastank {
    background-position: center center;
    background-image: url(tank.png);
    background-size: contain;
    height: 180px;
    background-repeat: no-repeat;
    transition: all 0.5s ease;
}
.gastank.with3d{
    transform: rotate3d(-1,0,0,17deg) translateY(-10px) translateZ(25px);
}
.gaspark{
    background-color: #232323;
    border: 2px solid #ababab;
    grid-area: p;
    display: grid;
    padding: 30px;
}
.gaspark.with3d{
    -moz-transform-style: preserve-3d;
    backface-visibility: hidden;
}
.gaspark.park4{
    grid-template-columns: 1fr 1fr;
}
.gaspark.park6{
    grid-template-columns: 1fr 1fr 1fr;
}
.gaspark.park5{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    /*меняет поведение алгоритма с row с на column*/
    grid-auto-flow: dense;
}
.gastanknum{
    font-size: 250%;
    font-weight: bold;
    position: relative;
    top: 75px;
    text-align: center;
    width: 80%;
}
.gasparkgrid{
    display: grid;
    grid-template-areas:    "s44 s1 s2 s3 s4 s45"
                            "s5 p p p p s6"
                            "s7 p p p p s8"
                            "s9 p p p p s10"
                            "s46 s11 s12 s13 s14 s47";
    /*grid-rows:1fr 1fr 1fr 1fr 1fr;*/
    /*grid-columns:1fr 1fr 1fr 1fr 1fr 1fr;*/
    padding-top: 40px;
    padding-bottom: 40px;
}
.gasparkgrid.with3d{
    transform-style: preserve-3d;
    transform: rotate3d(1,0,0,15deg) translateZ(-50px) translateY(-80px);
}
.gasparkgrid.parkgrid1,.gasparkgrid.parkgrid2{
    grid-template-areas:    ". s1 s2 s3 s4 ."
                            "s5 p p p p s6"
                            "s7 p p p p s8"
                            "s9 p p p p s10"
                            "s11 p p p p s12"
                            ". s13 s14 s15 s16 ."
                            ". tk tk tk tk .";
}
.gasparkgrid.parkgrid3{
    grid-template-areas:    ". tk8 tk8 . . . . ."
                            ". s1 s2 s3 s4 s5 s6 ."
                            "s7 p p p p p p s8"
                            "s9 p p p p p p s10"
                            "s11 p p p p p p s12"
                            "s13 p p p p p p s14"
                            ". s15 s16 s17 s18 s19 s20 ."
                            ". tk3 tk3 . . tk15 tk15 .";
}
.gasparkgrid.parkgrid4{
    grid-template-areas:    ". tk6 . . tk14b . tk14 ."
                            ". s1 s2 s3 s4 s5 s6 ."
                            "s7 p p p p p p s8"
                            "s9 p p p p p p s10"
                            "s11 p p p p p p s12"
                            "s13 p p p p p p s14"
                            ". s15 s16 s17 s18 s19 s20 ."
                            ". tk4 . . . . . .";
}
.gasparkgrid.parkgrid5{
    grid-template-areas:    ". s1 s2 s3 s4 s5 . ."
                            ". p p p p p p s7"
                            "s6 p p p p p p s8"
                            "s9 p p p p p p s10"
                            ". s11 s12 s13 s14 . . .";
}
.gasparkgrid.parkgridasn{
    grid-template-areas:    ". s1 . s2 . s3 ."
                            ". p p p p p s5"
                            "s4 p p p p p ."
                            ". p p p p p s6"
                            ". s7 . s8 . s9 ."
                            ". tkasn tkasn tkasn tkasn tkasn .";
}
.gassensor{
    line-height: 10px;
    max-height: 50px;
    padding: 7px 20px;
    border: 1px darkred solid;
    background-color: #333;
    position: relative;
    margin: 0 auto;
    text-align: center;
}
.gassensor.with3d{
    /*transform: rotate3d(-1,0,0,17deg) translate3d(0,-30px,30px);*/
    transform: translateZ(40px);
}
.gassensortk{
    line-height: 10px;
    max-height: 50px;
    padding: 7px 20px;
    background-color: #333;
    border: 1px darkred solid;
    position: relative;
    text-align: center;
}

.gassensor.ok,.gassensortk.ok{
    background-color: #010;
    border: 1px lime solid;
    box-shadow: 0 0 25px 5px rgba(25,255,0,0.2);
}
.gassensor.warn,.gassensortk.warn{
    background-color: #210;
    border: 1px orange solid;
    box-shadow: 0 0 25px 5px rgba(255,255,0,0.2);
}
.gassensor.emer,.gassensortk.emer{
    background-color: #221;
    border: 1px orangered solid;
    box-shadow: 0 0 25px 5px rgba(255,150,0,0.2);
}
.gassensor.old,.gassensortk.old{
    background-color: #022;
    border: 1px darkslategray solid;
}
.gassensor.error,.gassensortk.error{
    background-color: #200;
    border: 1px red solid;
    box-shadow: 0 0 25px 5px rgba(255,0,0,0.2);
}
.gasMiniTitle{
    font-size: 120%;
    color: #DDDDDD;
}
.gasMiniContainer{
    padding: 10px;
    border: 1px whitesmoke solid;
    background-color: #4c4c4c;
    position: relative;
    margin: 0 auto;
    z-index: 100;
}
.gassensor.left{
    margin-left: 0;
}
.gassensor.right{
    margin-right: 0;
}
.gasvalue{
    font-size: 2rem;
    font-weight: bold;
    color: red;
}
.gasvalue.ok{
    color: lime;
    text-shadow: 0 0 25px rgba(100,255,100,1);
}
.gasvalue.warn{
    color: orange;
    text-shadow: 0 0 5px rgba(255,255,0,0.5);
}
.gasvalue.emer{
    color: orangered;
    text-shadow: 0 0 5px rgba(255,0,0,0.7);
}
.gasvalue.old{
    color: darkslategray;
    text-shadow: 0 0 5px rgba(20,20,20,0.7);
}
.gasvalue.error{
    color: red;
    text-shadow: 0 0 5px rgba(255,0,0,0.7);
}
.gasparkname{
    font-size: 150%;
    font-weight: bold;
    color: darkgrey;
    line-height: 18px;
    text-align: center;
    margin-top: -15px;
    margin-left: -30px;
    position: relative;
    text-decoration: underline;
    text-transform: uppercase;
}
.gasparkname.with3d{
    transform: rotate3d(-1,0,0,17deg) translate3d(0px,0px,110px);
}
.spacer{
    height: 100px;
}