<div class="gastrend"></div>
<div class="gasSelectParkPanel row cont_panel">
    <div class="col-md-2">
        <button class="btn btn-primary gas_btn_parkselect" data-gaspark="1">Парк 1</button>
    </div>
    <div class="col-md-2">
        <button class="btn btn-primary gas_btn_parkselect" data-gaspark="2">Парк 2</button>
    </div>
    <div class="col-md-2">
        <button class="btn btn-primary gas_btn_parkselect" data-gaspark="3">Парк 3</button>
    </div>
    <div class="col-md-2">
        <button class="btn btn-primary gas_btn_parkselect" data-gaspark="4">Парк 4</button>
    </div>
    <div class="col-md-2">
        <button class="btn btn-primary gas_btn_parkselect" data-gaspark="5">Парк 5</button>
    </div>
    <div class="col-md-2">
        <button class="btn btn-primary gas_btn_parkselect" data-gaspark="6">Парк АСН</button>
    </div>
</div>
<div class="gascontainer container-fluid">
    <div class="row">
        <!--Парк 1-->
        <div class="gasparkgrid parkgrid1 col-lg-6 col-md-12" data-gaspark="1">
            <div class="gasparkname">Парк 1</div>
            <div class="gassensor top" style="grid-area: s1"><span class="gasvalue">####</span></div>
            <div class="gassensor top" style="grid-area: s2"><span class="gasvalue">####</span></div>
            <div class="gassensor top" style="grid-area: s3"><span class="gasvalue">####</span></div>
            <div class="gassensor top" style="grid-area: s4"><span class="gasvalue">####</span></div>
            <div class="gassensor right" style="grid-area: s5"><span class="gasvalue">####</span></div>
            <div class="gassensor left" style="grid-area: s6"><span class="gasvalue">####</span></div>
            <div class="gassensor right" style="grid-area: s7"><span class="gasvalue">####</span></div>
            <div class="gassensor left" style="grid-area: s8"><span class="gasvalue">####</span></div>
            <div class="gassensor right" style="grid-area: s9"><span class="gasvalue">####</span></div>
            <div class="gassensor left" style="grid-area: s10"><span class="gasvalue">####</span></div>
            <div class="gassensor right" style="grid-area: s11"><span class="gasvalue">####</span></div>
            <div class="gassensor left" style="grid-area: s12"><span class="gasvalue">####</span></div>
            <div class="gassensor bottom" style="grid-area: s13"><span class="gasvalue">####</span></div>
            <div class="gassensor bottom" style="grid-area: s14"><span class="gasvalue">####</span></div>
            <div class="gassensor bottom" style="grid-area: s15"><span class="gasvalue">####</span></div>
            <div class="gassensor bottom" style="grid-area: s16"><span class="gasvalue">####</span></div>

            <div class="gastk" style="grid-area: tk">
                <span class="tkname">TK-1</span>
                <div class="gassensortk col-md-12"><span class="gasvalue">####</span></div>
            </div>

            <div class="gaspark park4">
                <div class="gastank">
                    <div class="gastanknum">1</div>
                </div>
                <div class="gastank">
                    <div class="gastanknum">2</div>
                </div>
                <div class="gastank">
                    <div class="gastanknum">3</div>
                </div>
                <div class="gastank">
                    <div class="gastanknum">4</div>
                </div>
            </div>
        </div>
        <!--Парк 2-->
        <div class="gasparkgrid parkgrid2 col-lg-6 col-md-12" data-gaspark="2">
            <div class="gasparkname">Парк 2</div>
            <div class="gassensor top" style="grid-area: s1"><span class="gasvalue">####</span></div>
            <div class="gassensor top" style="grid-area: s2"><span class="gasvalue">####</span></div>
            <div class="gassensor top" style="grid-area: s3"><span class="gasvalue">####</span></div>
            <div class="gassensor top" style="grid-area: s4"><span class="gasvalue">####</span></div>
            <div class="gassensor right" style="grid-area: s5"><span class="gasvalue">####</span></div>
            <div class="gassensor left" style="grid-area: s6"><span class="gasvalue">####</span></div>
            <div class="gassensor right" style="grid-area: s7"><span class="gasvalue">####</span></div>
            <div class="gassensor left" style="grid-area: s8"><span class="gasvalue">####</span></div>
            <div class="gassensor right" style="grid-area: s9"><span class="gasvalue">####</span></div>
            <div class="gassensor left" style="grid-area: s10"><span class="gasvalue">####</span></div>
            <div class="gassensor right" style="grid-area: s11"><span class="gasvalue">####</span></div>
            <div class="gassensor left" style="grid-area: s12"><span class="gasvalue">####</span></div>
            <div class="gassensor bottom" style="grid-area: s13"><span class="gasvalue">####</span></div>
            <div class="gassensor bottom" style="grid-area: s14"><span class="gasvalue">####</span></div>
            <div class="gassensor bottom" style="grid-area: s15"><span class="gasvalue">####</span></div>
            <div class="gassensor bottom" style="grid-area: s16"><span class="gasvalue">####</span></div>

            <div class="gastk" style="grid-area: tk">
                <span class="tkname">TK-2</span>
                <div class="gassensortk col-md-12"><span class="gasvalue">####</span></div>
            </div>

            <div class="gaspark park4">
                    <div class="gastank">
                        <div class="gastanknum">5</div>
                    </div>
                    <div class="gastank">
                        <div class="gastanknum">6</div>
                    </div>
                    <div class="gastank">
                        <div class="gastanknum">7</div>
                    </div>
                    <div class="gastank">
                        <div class="gastanknum">8</div>
                    </div>
                </div>
            </div>
        <div class="spacer col-md-12"></div>
        <!--Парк 3-->
        <div class="gasparkgrid col-lg-6 col-md-12" data-gaspark="3">
                <div class="gasparkname">Парк 3</div>
                <div class="gassensor top" style="grid-area: s1"><span class="gasvalue">####</span></div>
                <div class="gassensor top" style="grid-area: s2"><span class="gasvalue">####</span></div>
                <div class="gassensor top" style="grid-area: s3"><span class="gasvalue">####</span></div>
                <div class="gassensor top" style="grid-area: s4"><span class="gasvalue">####</span></div>
                <div class="gassensor right" style="grid-area: s5"><span class="gasvalue">####</span></div>
                <div class="gassensor left" style="grid-area: s6"><span class="gasvalue">####</span></div>
                <div class="gassensor right" style="grid-area: s7"><span class="gasvalue">####</span></div>
                <div class="gassensor left" style="grid-area: s8"><span class="gasvalue">####</span></div>
                <div class="gassensor right" style="grid-area: s9"><span class="gasvalue">####</span></div>
                <div class="gassensor left" style="grid-area: s10"><span class="gasvalue">####</span></div>
                <div class="gassensor bottom" style="grid-area: s11"><span class="gasvalue">####</span></div>
                <div class="gassensor bottom" style="grid-area: s12"><span class="gasvalue">####</span></div>
                <div class="gassensor bottom" style="grid-area: s13"><span class="gasvalue">####</span></div>
                <div class="gassensor bottom" style="grid-area: s14"><span class="gasvalue">####</span></div>
                <div class="gaspark park6">
                    <div class="gastank">
                        <div class="gastanknum">9</div>
                    </div>
                    <div class="gastank">
                        <div class="gastanknum">10</div>
                    </div>
                    <div class="gastank">
                        <div class="gastanknum">11</div>
                    </div>
                    <div class="gastank">
                        <div class="gastanknum">12</div>
                    </div>
                    <div class="gastank">
                        <div class="gastanknum">13</div>
                    </div>
                    <div class="gastank">
                        <div class="gastanknum">14</div>
                    </div>
                </div>
            </div>
        <!--Парк 4-->
        <div class="gasparkgrid col-lg-6 col-md-12" data-gaspark="4">
                <div class="gasparkname">Парк 4</div>
                <div class="gassensor top" style="grid-area: s1"><span class="gasvalue">####</span></div>
                <div class="gassensor top" style="grid-area: s2"><span class="gasvalue">####</span></div>
                <div class="gassensor top" style="grid-area: s3"><span class="gasvalue">####</span></div>
                <div class="gassensor top" style="grid-area: s4"><span class="gasvalue">####</span></div>
                <div class="gassensor right" style="grid-area: s5"><span class="gasvalue">####</span></div>
                <div class="gassensor left" style="grid-area: s6"><span class="gasvalue">####</span></div>
                <div class="gassensor right" style="grid-area: s7"><span class="gasvalue">####</span></div>
                <div class="gassensor left" style="grid-area: s8"><span class="gasvalue">####</span></div>
                <div class="gassensor right" style="grid-area: s9"><span class="gasvalue">####</span></div>
                <div class="gassensor left" style="grid-area: s10"><span class="gasvalue">####</span></div>
                <div class="gassensor bottom" style="grid-area: s11"><span class="gasvalue">####</span></div>
                <div class="gassensor bottom" style="grid-area: s12"><span class="gasvalue">####</span></div>
                <div class="gassensor bottom" style="grid-area: s13"><span class="gasvalue">####</span></div>
                <div class="gassensor bottom" style="grid-area: s14"><span class="gasvalue">####</span></div>
                <div class="gaspark park6">
                    <div class="gastank">
                        <div class="gastanknum">15</div>
                    </div>
                    <div class="gastank">
                        <div class="gastanknum">16</div>
                    </div>
                    <div class="gastank">
                        <div class="gastanknum">17</div>
                    </div>
                    <div class="gastank">
                        <div class="gastanknum">18</div>
                    </div>
                    <div class="gastank">
                        <div class="gastanknum">19</div>
                    </div>
                    <div class="gastank">
                        <div class="gastanknum">20</div>
                    </div>
                </div>
            </div>
        <div class="spacer col-md-12"></div>
        <!--Парк 5-->
        <div class="gasparkgrid col-lg-6 col-md-12" data-gaspark="5">
                <div class="gasparkname">Парк 5</div>
                <div class="gassensor top" style="grid-area: s1"><span class="gasvalue">####</span></div>
                <div class="gassensor top" style="grid-area: s2"><span class="gasvalue">####</span></div>
                <div class="gassensor top" style="grid-area: s3"><span class="gasvalue">####</span></div>
                <div class="gassensor top" style="grid-area: s4"><span class="gasvalue">####</span></div>
                <div class="gassensor right" style="grid-area: s5"><span class="gasvalue">####</span></div>
                <div class="gassensor left" style="grid-area: s6"><span class="gasvalue">####</span></div>
                <div class="gassensor right" style="grid-area: s7"><span class="gasvalue">####</span></div>
                <div class="gassensor left" style="grid-area: s8"><span class="gasvalue">####</span></div>
                <div class="gassensor right" style="grid-area: s9"><span class="gasvalue">####</span></div>
                <div class="gassensor left" style="grid-area: s10"><span class="gasvalue">####</span></div>
                <div class="gassensor bottom" style="grid-area: s11"><span class="gasvalue">####</span></div>
                <div class="gassensor bottom" style="grid-area: s12"><span class="gasvalue">####</span></div>
                <div class="gassensor bottom" style="grid-area: s13"><span class="gasvalue">####</span></div>
                <div class="gassensor bottom" style="grid-area: s14"><span class="gasvalue">####</span></div>
                <div class="gaspark park6">
                    <div class="gastank">
                        <div class="gastanknum">69</div>
                    </div>
                    <div class="gastank">
                        <div class="gastanknum">70</div>
                    </div>
                    <div class="gastank">
                        <div class="gastanknum">71</div>
                    </div>
                    <div class="gastank">
                        <div class="gastanknum">72</div>
                    </div>
                    <div class="gastank">
                        <div class="gastanknum">73</div>
                    </div>
                </div>
            </div>
        <!--Парк АСН-->
        <div class="gasparkgrid col-lg-6 col-md-12" data-gaspark="6">
                <div class="gasparkname">Парк АСН</div>
                <div class="gassensor top" style="grid-area: s1"><span class="gasvalue">####</span></div>
                <div class="gassensor top" style="grid-area: s2"><span class="gasvalue">####</span></div>
                <div class="gassensor top" style="grid-area: s3"><span class="gasvalue">####</span></div>
                <div class="gassensor top" style="grid-area: s4"><span class="gasvalue">####</span></div>
                <div class="gassensor right" style="grid-area: s5"><span class="gasvalue">####</span></div>
                <div class="gassensor left" style="grid-area: s6"><span class="gasvalue">####</span></div>
                <div class="gassensor right" style="grid-area: s7"><span class="gasvalue">####</span></div>
                <div class="gassensor left" style="grid-area: s8"><span class="gasvalue">####</span></div>
                <div class="gassensor right" style="grid-area: s9"><span class="gasvalue">####</span></div>
                <div class="gassensor left" style="grid-area: s10"><span class="gasvalue">####</span></div>
                <div class="gassensor bottom" style="grid-area: s11"><span class="gasvalue">####</span></div>
                <div class="gassensor bottom" style="grid-area: s12"><span class="gasvalue">####</span></div>
                <div class="gassensor bottom" style="grid-area: s13"><span class="gasvalue">####</span></div>
                <div class="gassensor bottom" style="grid-area: s14"><span class="gasvalue">####</span></div>
                <div class="gaspark park6">
                    <div class="gastank">
                        <div class="gastanknum">51</div>
                    </div>
                    <div class="gastank">
                        <div class="gastanknum">52</div>
                    </div>
                    <div class="gastank">
                        <div class="gastanknum">53</div>
                    </div>
                    <div class="gastank">
                        <div class="gastanknum">54</div>
                    </div>
                    <div class="gastank">
                        <div class="gastanknum">55</div>
                    </div>
                    <div class="gastank">
                        <div class="gastanknum">56</div>
                    </div>
                </div>
            </div>
        <div class="spacer col-md-12"></div>
    </div>
</div>