<div class="gastrend"></div>
<div class="gasSelectParkPanel row cont_panel">
    <div class="col-md-2">
        <button class="btn btn-default btn-sm gas_btn_parkselect" data-gaspark="1">Парк 1</button>
    </div>
    <div class="col-md-2">
        <button class="btn btn-default btn-sm gas_btn_parkselect" data-gaspark="2">Парк 2</button>
    </div>
    <div class="col-md-2">
        <button class="btn btn-default btn-sm gas_btn_parkselect" data-gaspark="3">Парк 3</button>
    </div>
    <div class="col-md-2">
        <button class="btn btn-default btn-sm gas_btn_parkselect" data-gaspark="4">Парк 4</button>
    </div>
    <div class="col-md-2">
        <button class="btn btn-default btn-sm gas_btn_parkselect" data-gaspark="5">Парк 5</button>
    </div>
    <div class="col-md-2">
        <button class="btn btn-default btn-sm gas_btn_parkselect" data-gaspark="6">Парк АСН</button>
    </div>
</div>
<div class="gascontainer container-fluid">
    <div class="row">
        <!--Парк 1-->
        <div class="gasparkgrid parkgrid1 col-lg-6 col-md-12" data-gaspark="1">
            <div class="gasparkname">Парк 1</div>
            <div class="gassensor top" style="grid-area: s1" data-gassensor="197"><span class="gasvalue">####</span></div>
            <div class="gassensor top" style="grid-area: s2" data-gassensor="198"><span class="gasvalue">####</span></div>
            <div class="gassensor top" style="grid-area: s3" data-gassensor="199"><span class="gasvalue">####</span></div>
            <div class="gassensor top" style="grid-area: s4" data-gassensor="200"><span class="gasvalue">####</span></div>
            <div class="gassensor right" style="grid-area: s5" data-gassensor="196"><span class="gasvalue">####</span></div>
            <div class="gassensor left" style="grid-area: s6" data-gassensor="201"><span class="gasvalue">####</span></div>
            <div class="gassensor right" style="grid-area: s7" data-gassensor="195"><span class="gasvalue">####</span></div>
            <div class="gassensor left" style="grid-area: s8" data-gassensor="202"><span class="gasvalue">####</span></div>
            <div class="gassensor right" style="grid-area: s9" data-gassensor="187"><span class="gasvalue">####</span></div>
            <div class="gassensor left" style="grid-area: s10" data-gassensor="194"><span class="gasvalue">####</span></div>
            <div class="gassensor right" style="grid-area: s11" data-gassensor="188"><span class="gasvalue">####</span></div>
            <div class="gassensor left" style="grid-area: s12" data-gassensor="193"><span class="gasvalue">####</span></div>
            <div class="gassensor bottom" style="grid-area: s13" data-gassensor="189"><span class="gasvalue">####</span></div>
            <div class="gassensor bottom" style="grid-area: s14" data-gassensor="190"><span class="gasvalue">####</span></div>
            <div class="gassensor bottom" style="grid-area: s15" data-gassensor="191"><span class="gasvalue">####</span></div>
            <div class="gassensor bottom" style="grid-area: s16" data-gassensor="192"><span class="gasvalue">####</span></div>

            <div class="gasMiniContainer" style="grid-area: tk">
                <span class="gasMiniTitle">TK-1</span>
                <div class="gassensortk col-md-12" data-gassensor="186"><span class="gasvalue">####</span></div>
            </div>

            <div class="gaspark park4">
                <div class="gastank">
                    <div class="gastanknum">1</div>
                </div>
                <div class="gastank">
                    <div class="gastanknum">2</div>
                </div>
                <div class="gastank">
                    <div class="gastanknum">3</div>
                </div>
                <div class="gastank">
                    <div class="gastanknum">4</div>
                </div>
            </div>
        </div>
        <!--Парк 2-->
        <div class="gasparkgrid parkgrid2 col-lg-6 col-md-12" data-gaspark="2">
            <div class="gasparkname">Парк 2</div>
            <div class="gassensor top" style="grid-area: s1" data-gassensor="129"><span class="gasvalue">####</span></div>
            <div class="gassensor top" style="grid-area: s2" data-gassensor="130"><span class="gasvalue">####</span></div>
            <div class="gassensor top" style="grid-area: s3" data-gassensor="122"><span class="gasvalue">####</span></div>
            <div class="gassensor top" style="grid-area: s4" data-gassensor="121"><span class="gasvalue">####</span></div>
            <div class="gassensor right" style="grid-area: s5" data-gassensor="128"><span class="gasvalue">####</span></div>
            <div class="gassensor left" style="grid-area: s6" data-gassensor="120"><span class="gasvalue">####</span></div>
            <div class="gassensor right" style="grid-area: s7" data-gassensor="127"><span class="gasvalue">####</span></div>
            <div class="gassensor left" style="grid-area: s8" data-gassensor="119"><span class="gasvalue">####</span></div>
            <div class="gassensor right" style="grid-area: s9" data-gassensor="126"><span class="gasvalue">####</span></div>
            <div class="gassensor left" style="grid-area: s10" data-gassensor="118"><span class="gasvalue">####</span></div>
            <div class="gassensor right" style="grid-area: s11" data-gassensor="125"><span class="gasvalue">####</span></div>
            <div class="gassensor left" style="grid-area: s12" data-gassensor="117"><span class="gasvalue">####</span></div>
            <div class="gassensor bottom" style="grid-area: s13" data-gassensor="124"><span class="gasvalue">####</span></div>
            <div class="gassensor bottom" style="grid-area: s14" data-gassensor="123"><span class="gasvalue">####</span></div>
            <div class="gassensor bottom" style="grid-area: s15" data-gassensor="115"><span class="gasvalue">####</span></div>
            <div class="gassensor bottom" style="grid-area: s16" data-gassensor="116"><span class="gasvalue">####</span></div>

            <div class="gasMiniContainer" style="grid-area: tk">
                <span class="gasMiniTitle">TK-2</span>
                <div class="gassensortk col-md-12" data-gassensor="114"><span class="gasvalue">####</span></div>
            </div>

            <div class="gaspark park4">
                    <div class="gastank">
                        <div class="gastanknum">5</div>
                    </div>
                    <div class="gastank">
                        <div class="gastanknum">6</div>
                    </div>
                    <div class="gastank">
                        <div class="gastanknum">7</div>
                    </div>
                    <div class="gastank">
                        <div class="gastanknum">8</div>
                    </div>
                </div>
            </div>
        <div class="spacer col-md-12"></div>
        <!--Очистные-->
        <div class="col-lg-12 col-md-12" data-gaspark="clearfacilities">
            <div class="gasMiniContainer">
                <p class="gasMiniTitle">Очистные сооружения</p>
                <div class="gassensortk col-md-2" data-gassensor="154"><span class="gasvalue">####</span></div>
                <div class="gassensortk col-md-2" data-gassensor="155"><span class="gasvalue">####</span></div>
                <div class="gassensortk col-md-2" data-gassensor="156"><span class="gasvalue">####</span></div>
                <div class="gassensortk col-md-2" data-gassensor="157"><span class="gasvalue">####</span></div>
                <div class="gassensortk col-md-2" data-gassensor="158"><span class="gasvalue">####</span></div>
                <div class="gassensortk col-md-2" data-gassensor="159"><span class="gasvalue">####</span></div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="spacer col-md-12"></div>
        <!--Парк 3-->
        <div class="gasparkgrid parkgrid3 col-lg-12 col-md-12" data-gaspark="3">
            <div class="gasparkname">Парк 3</div>
            <div class="gassensor top" style="grid-area: s1" data-gassensor="136"><span class="gasvalue">####</span></div>
            <div class="gassensor top" style="grid-area: s2" data-gassensor="137"><span class="gasvalue">####</span></div>
            <div class="gassensor top" style="grid-area: s3" data-gassensor="138"><span class="gasvalue">####</span></div>
            <div class="gassensor top" style="grid-area: s4" data-gassensor="139"><span class="gasvalue">####</span></div>
            <div class="gassensor top" style="grid-area: s5" data-gassensor="153"><span class="gasvalue">####</span></div>
            <div class="gassensor top" style="grid-area: s6" data-gassensor="152"><span class="gasvalue">####</span></div>
            <div class="gassensor right" style="grid-area: s7" data-gassensor="134"><span class="gasvalue">####</span></div>
            <div class="gassensor left" style="grid-area: s8" data-gassensor="151"><span class="gasvalue">####</span></div>
            <div class="gassensor right" style="grid-area: s9" data-gassensor="133"><span class="gasvalue">####</span></div>
            <div class="gassensor left" style="grid-area: s10" data-gassensor="150"><span class="gasvalue">####</span></div>
            <div class="gassensor right" style="grid-area: s11" data-gassensor="132"><span class="gasvalue">####</span></div>
            <div class="gassensor left" style="grid-area: s12" data-gassensor="149"><span class="gasvalue">####</span></div>
            <div class="gassensor right" style="grid-area: s13" data-gassensor="131"><span class="gasvalue">####</span></div>
            <div class="gassensor left" style="grid-area: s14" data-gassensor="148"><span class="gasvalue">####</span></div>
            <div class="gassensor bottom" style="grid-area: s15" data-gassensor="141"><span class="gasvalue">####</span></div>
            <div class="gassensor bottom" style="grid-area: s16" data-gassensor="142"><span class="gasvalue">####</span></div>
            <div class="gassensor bottom" style="grid-area: s17" data-gassensor="143"><span class="gasvalue">####</span></div>
            <div class="gassensor bottom" style="grid-area: s18" data-gassensor="144"><span class="gasvalue">####</span></div>
            <div class="gassensor bottom" style="grid-area: s19" data-gassensor="145"><span class="gasvalue">####</span></div>
            <div class="gassensor bottom" style="grid-area: s20" data-gassensor="146"><span class="gasvalue">####</span></div>

            <div class="gasMiniContainer" style="grid-area: tk8">
                <span class="gasMiniTitle">TK-8</span>
                <div class="gassensortk col-md-12" data-gassensor="135"><span class="gasvalue">####</span></div>
            </div>

            <div class="gasMiniContainer" style="grid-area: tk3">
                <span class="gasMiniTitle">TK-3</span>
                <div class="gassensortk col-md-12" data-gassensor="140"><span class="gasvalue">####</span></div>
            </div>

            <div class="gasMiniContainer" style="grid-area: tk15">
                <span class="gasMiniTitle">TK-15</span>
                <div class="gassensortk col-md-12" data-gassensor="147"><span class="gasvalue">####</span></div>
            </div>

            <div class="gaspark park6">
                <div class="gastank">
                    <div class="gastanknum">9</div>
                </div>
                <div class="gastank">
                    <div class="gastanknum">10</div>
                </div>
                <div class="gastank">
                    <div class="gastanknum">11</div>
                </div>
                <div class="gastank">
                    <div class="gastanknum">12</div>
                </div>
                <div class="gastank">
                    <div class="gastanknum">13</div>
                </div>
                <div class="gastank">
                    <div class="gastanknum">14</div>
                </div>
            </div>
        </div>
        <div class="spacer col-md-12"></div>
        <!--Парк 4-->
        <div class="gasparkgrid parkgrid4 col-lg-12 col-md-12" data-gaspark="4">
                <div class="gasparkname">Парк 4</div>
            <div class="gassensor top" style="grid-area: s1" data-gassensor="104"><span class="gasvalue">####</span></div>
            <div class="gassensor top" style="grid-area: s2" data-gassensor="105"><span class="gasvalue">####</span></div>
            <div class="gassensor top" style="grid-area: s3" data-gassensor="106"><span class="gasvalue">####</span></div>
            <div class="gassensor top" style="grid-area: s4" data-gassensor="107"><span class="gasvalue">####</span></div>
            <div class="gassensor top" style="grid-area: s5" data-gassensor="98"><span class="gasvalue">####</span></div>
            <div class="gassensor top" style="grid-area: s6" data-gassensor="97"><span class="gasvalue">####</span></div>
            <div class="gassensor right" style="grid-area: s7" data-gassensor="102"><span class="gasvalue">####</span></div>
            <div class="gassensor left" style="grid-area: s8" data-gassensor="95"><span class="gasvalue">####</span></div>
            <div class="gassensor right" style="grid-area: s9" data-gassensor="101"><span class="gasvalue">####</span></div>
            <div class="gassensor left" style="grid-area: s10" data-gassensor="94"><span class="gasvalue">####</span></div>
            <div class="gassensor right" style="grid-area: s11" data-gassensor="100"><span class="gasvalue">####</span></div>
            <div class="gassensor left" style="grid-area: s12" data-gassensor="93"><span class="gasvalue">####</span></div>
            <div class="gassensor right" style="grid-area: s13" data-gassensor="99"><span class="gasvalue">####</span></div>
            <div class="gassensor left" style="grid-area: s14" data-gassensor="92"><span class="gasvalue">####</span></div>
            <div class="gassensor bottom" style="grid-area: s15" data-gassensor="110"><span class="gasvalue">####</span></div>
            <div class="gassensor bottom" style="grid-area: s16" data-gassensor="111"><span class="gasvalue">####</span></div>
            <div class="gassensor bottom" style="grid-area: s17" data-gassensor="112"><span class="gasvalue">####</span></div>
            <div class="gassensor bottom" style="grid-area: s18" data-gassensor="113"><span class="gasvalue">####</span></div>
            <div class="gassensor bottom" style="grid-area: s19" data-gassensor="90"><span class="gasvalue">####</span></div>
            <div class="gassensor bottom" style="grid-area: s20" data-gassensor="91"><span class="gasvalue">####</span></div>

            <div class="gasMiniContainer" style="grid-area: tk6">
                <span class="gasMiniTitle">TK-6</span>
                <div class="gassensortk col-md-12" data-gassensor="103"><span class="gasvalue">####</span></div>
            </div>

            <div class="gasMiniContainer" style="grid-area: tk14b">
                <span class="gasMiniTitle">TK-14Б</span>
                <div class="gassensortk col-md-12" data-gassensor="108"><span class="gasvalue">####</span></div>
            </div>

            <div class="gasMiniContainer" style="grid-area: tk14">
                <span class="gasMiniTitle">TK-14</span>
                <div class="gassensortk col-md-12" data-gassensor="96"><span class="gasvalue">####</span></div>
            </div>

            <div class="gasMiniContainer" style="grid-area: tk4">
                <span class="gasMiniTitle">TK-4</span>
                <div class="gassensortk col-md-12" data-gassensor="109"><span class="gasvalue">####</span></div>
            </div>

            <div class="gaspark park6">
                <div class="gastank">
                    <div class="gastanknum">15</div>
                </div>
                <div class="gastank">
                    <div class="gastanknum">16</div>
                </div>
                <div class="gastank">
                    <div class="gastanknum">17</div>
                </div>
                <div class="gastank">
                    <div class="gastanknum">18</div>
                </div>
                <div class="gastank">
                    <div class="gastanknum">19</div>
                </div>
                <div class="gastank">
                    <div class="gastanknum">20</div>
                </div>
            </div>
            </div>
        <div class="spacer col-md-12"></div>
        <!--Парк 5-->
        <div class="gasparkgrid parkgrid5 col-lg-6 col-md-12" data-gaspark="5">
            <div class="gasparkname">Парк 5</div>
            <div class="gassensor top" style="grid-area: s1" data-gassensor="82"><span class="gasvalue">####</span></div>
            <div class="gassensor top" style="grid-area: s2" data-gassensor="89"><span class="gasvalue">####</span></div>
            <div class="gassensor top" style="grid-area: s3" data-gassensor="88"><span class="gasvalue">####</span></div>
            <div class="gassensor top" style="grid-area: s4" data-gassensor="87"><span class="gasvalue">####</span></div>
            <div class="gassensor top" style="grid-area: s5" data-gassensor="86"><span class="gasvalue">####</span></div>
            <div class="gassensor right" style="grid-area: s6" data-gassensor="80"><span class="gasvalue">####</span></div>
            <div class="gassensor left" style="grid-area: s7" data-gassensor="85"><span class="gasvalue">####</span></div>
            <div class="gassensor right" style="grid-area: s9" data-gassensor="81"><span class="gasvalue">####</span></div>
            <div class="gassensor left" style="grid-area: s8" data-gassensor="84"><span class="gasvalue">####</span></div>
            <div class="gassensor left" style="grid-area: s10" data-gassensor="83"><span class="gasvalue">####</span></div>
            <div class="gassensor bottom" style="grid-area: s11" data-gassensor="79"><span class="gasvalue">####</span></div>
            <div class="gassensor bottom" style="grid-area: s12" data-gassensor="78"><span class="gasvalue">####</span></div>
            <div class="gassensor bottom" style="grid-area: s13" data-gassensor="77"><span class="gasvalue">####</span></div>
            <div class="gassensor bottom" style="grid-area: s14" data-gassensor="76"><span class="gasvalue">####</span></div>
            <div class="gaspark park5">
                <div class="gastank">
                    <div class="gastanknum">71</div>
                </div>
                <div class="gastank">
                    <div class="gastanknum">72</div>
                </div>
                <div class="gastank">
                    <div class="gastanknum">73</div>
                </div>
                <div class="gastank">
                    <div class="gastanknum">70</div>
                </div>
                <div class="gastank">
                    <div class="gastanknum">69</div>
                </div>
            </div>
        </div>
        <!--Парк АСН-->
        <div class="gasparkgrid parkgridasn col-lg-6 col-md-12" data-gaspark="6">
                <div class="gasparkname">Парк АСН</div>
                <div class="gassensor top" style="grid-area: s1" data-gassensor="167"><span class="gasvalue">####</span></div>
                <div class="gassensor top" style="grid-area: s2" data-gassensor="168"><span class="gasvalue">####</span></div>
                <div class="gassensor top" style="grid-area: s3" data-gassensor="169"><span class="gasvalue">####</span></div>

                <div class="gassensor right" style="grid-area: s4" data-gassensor="166"><span class="gasvalue">####</span></div>
                <div class="gassensor left" style="grid-area: s5" data-gassensor="160"><span class="gasvalue">####</span></div>
                <div class="gassensor left" style="grid-area: s6" data-gassensor="162"><span class="gasvalue">####</span></div>

                <div class="gassensor bottom" style="grid-area: s7" data-gassensor="165"><span class="gasvalue">####</span></div>
                <div class="gassensor bottom" style="grid-area: s8" data-gassensor="164"><span class="gasvalue">####</span></div>
                <div class="gassensor bottom" style="grid-area: s9" data-gassensor="163"><span class="gasvalue">####</span></div>

            <div class="gasMiniContainer" style="grid-area: tkasn">
                <span class="gasMiniTitle">TK-АСН</span>
                <div class="gassensortk col-md-12" data-gassensor="161"><span class="gasvalue">####</span></div>
            </div>

            <div class="gaspark park6">
                <div class="gastank">
                    <div class="gastanknum">53</div>
                </div>
                <div class="gastank">
                    <div class="gastanknum">52</div>
                </div>
                <div class="gastank">
                    <div class="gastanknum">51</div>
                </div>
                <div class="gastank">
                    <div class="gastanknum">56</div>
                </div>
                <div class="gastank">
                    <div class="gastanknum">55</div>
                </div>
                <div class="gastank">
                    <div class="gastanknum">54</div>
                </div>
            </div>
        </div>
        <div class="spacer col-md-12"></div>
        <!--Subearth tank-->
        <div class="col-lg-6 col-md-12" data-gaspark="clearfacilities">
            <div class="gasMiniContainer">
                <p class="gasMiniTitle">Подземный резервуар</p>
                <div class="gassensortk col-md-4 col-md-offset-4" data-gassensor="171"><span class="gasvalue">####</span></div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!--АЗС-->
        <div class="col-lg-6 col-md-12" data-gaspark="clearfacilities">
            <div class="gasMiniContainer">
                <p class="gasMiniTitle">АЗС</p>
                <div class="gassensortk col-md-4 col-md-offset-4" data-gassensor="172"><span class="gasvalue">####</span></div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="spacer col-md-12"></div>
    </div>
</div>