<div class="railgastrend"></div>
<div class="railgasSelectParkPanel row cont_panel">
    <div class="col-md-offset-5 col-md-2">
        <button class="btn btn-default btn-sm railgas_refresh_btn">Загрузить тренды СКЗ ЖД эстакады</button>
    </div>

    <div class="railgasToggle3d">
        <button class="btn btn-default btn-toggle3d"><i class="fa fa-cube"></i></button>
    </div>
</div>
<div class="railgas3dwrapper">
    <div class="railgascontainer container-fluid">
        <div class="row" style="transform-style: preserve-3d;">
            <!--ЖД 1-->
            <div class="railgasgrid col-sm-12" data-railgaspark="1">
                <div class="gassensor top" style="grid-area: s1" data-gassensor="26"><span class="gasvalue">####</span></div>
                <div class="gassensor top" style="grid-area: s2" data-gassensor="24"><span class="gasvalue">####</span></div>
                <div class="gassensor top" style="grid-area: s3" data-gassensor="22"><span class="gasvalue">####</span></div>
                <div class="gassensor top" style="grid-area: s4" data-gassensor="20"><span class="gasvalue">####</span></div>
                <div class="gassensor top" style="grid-area: s5" data-gassensor="18"><span class="gasvalue">####</span></div>
                <div class="gassensor top" style="grid-area: s6" data-gassensor="16"><span class="gasvalue">####</span></div>
                <div class="gassensor top" style="grid-area: s7" data-gassensor="14"><span class="gasvalue">####</span></div>
                <div class="gassensor top" style="grid-area: s8" data-gassensor="12"><span class="gasvalue">####</span></div>
                <div class="gassensor top" style="grid-area: s9" data-gassensor="10"><span class="gasvalue">####</span></div>
                <div class="gassensor top" style="grid-area: s10" data-gassensor="8"><span class="gasvalue">####</span></div>
            </div>

            <div class="rail_container col-sm-12">
                <div class="railup"></div>
                <div class="gasMiniContainer railestakada">
                    <span>Жд эстакада 1 сегмент</span>
                </div>
                <div class="raildown"></div>
            </div>

            <div class="railgasgrid col-sm-12" data-railgaspark="2">
                <div class="gassensor bottom" style="grid-area: s11" data-gassensor="25"><span class="gasvalue">####</span></div>
                <div class="gassensor bottom" style="grid-area: s12" data-gassensor="23"><span class="gasvalue">####</span></div>
                <div class="gassensor bottom" style="grid-area: s13" data-gassensor="21"><span class="gasvalue">####</span></div>
                <div class="gassensor bottom" style="grid-area: s14" data-gassensor="19"><span class="gasvalue">####</span></div>
                <div class="gassensor bottom" style="grid-area: s15" data-gassensor="17"><span class="gasvalue">####</span></div>
                <div class="gassensor bottom" style="grid-area: s16" data-gassensor="15"><span class="gasvalue">####</span></div>
                <div class="gassensor bottom" style="grid-area: s17" data-gassensor="13"><span class="gasvalue">####</span></div>
                <div class="gassensor bottom" style="grid-area: s18" data-gassensor="11"><span class="gasvalue">####</span></div>
                <div class="gassensor bottom" style="grid-area: s19" data-gassensor="9"><span class="gasvalue">####</span></div>
                <div class="gassensor bottom" style="grid-area: s20" data-gassensor="7"><span class="gasvalue">####</span></div>
            </div>

            <!--<div class="spacer col-md-12"></div>-->
            <!--ЖД 2-->
            <div class="railgasgrid col-sm-12" data-railgaspark="3">
                <div class="gassensor top" style="grid-area: s1" data-gassensor="44"><span class="gasvalue">####</span></div>
                <div class="gassensor top" style="grid-area: s2" data-gassensor="42"><span class="gasvalue">####</span></div>
                <div class="gassensor top" style="grid-area: s3" data-gassensor="40"><span class="gasvalue">####</span></div>
                <div class="gassensor top" style="grid-area: s4" data-gassensor="38"><span class="gasvalue">####</span></div>
                <div class="gassensor top" style="grid-area: s5" data-gassensor="36"><span class="gasvalue">####</span></div>
                <div class="gassensor top" style="grid-area: s6" data-gassensor="34"><span class="gasvalue">####</span></div>
                <div class="gassensor top" style="grid-area: s7" data-gassensor="32"><span class="gasvalue">####</span></div>
                <div class="gassensor top" style="grid-area: s8" data-gassensor="30"><span class="gasvalue">####</span></div>
                <div class="gassensor top" style="grid-area: s9" data-gassensor="28"><span class="gasvalue">####</span></div>
            </div>

            <div class="rail_container col-sm-12">
                <div class="railup"></div>
                <div class="gasMiniContainer  railestakada">
                    <span>Жд эстакада 2 сегмент</span>
                </div>
                <div class="raildown"></div>
            </div>

            <div class="railgasgrid col-sm-12" data-railgaspark="4">
                <div class="gassensor bottom" style="grid-area: s11" data-gassensor="45"><span class="gasvalue">####</span></div>
                <div class="gassensor bottom" style="grid-area: s12" data-gassensor="43"><span class="gasvalue">####</span></div>
                <div class="gassensor bottom" style="grid-area: s13" data-gassensor="41"><span class="gasvalue">####</span></div>
                <div class="gassensor bottom" style="grid-area: s14" data-gassensor="39"><span class="gasvalue">####</span></div>
                <div class="gassensor bottom" style="grid-area: s15" data-gassensor="37"><span class="gasvalue">####</span></div>
                <div class="gassensor bottom" style="grid-area: s16" data-gassensor="35"><span class="gasvalue">####</span></div>
                <div class="gassensor bottom" style="grid-area: s17" data-gassensor="33"><span class="gasvalue">####</span></div>
                <div class="gassensor bottom" style="grid-area: s18" data-gassensor="31"><span class="gasvalue">####</span></div>
                <div class="gassensor bottom" style="grid-area: s19" data-gassensor="39"><span class="gasvalue">####</span></div>
                <div class="gassensor bottom" style="grid-area: s20" data-gassensor="27"><span class="gasvalue">####</span></div>
            </div>

            <div class="spacer col-md-12"></div>

        </div>
    </div>
</div>
