<div class="row visible-md visible-lg">
    <div class="col-md-3 park_name">Парк АСН <span class="rn_color"></span></div>
    <div class="col-md-2 col-md-offset-1 park_name myoffset">Парк 1 <span class="rn_color"></span></div>
    <div class="col-md-3 col-md-offset-1 park_name myoffset">Парк 3 <span class="rn_color"></span></div>
    <div class="col-md-2 col-md-offset-1 park_name myoffset">Узел учета <span class="rn_color"></span></div>
</div>
<div class="row">
    <div href="#fancycontainer" class="col-md-1 col-xs-4 col-sm-3 tank" data-num="53">
        <span class="tank_title"></span>
        <div class="progress_tank" id="progress_tank53">
            <div class="glyphicon glyphicon-chevron-up tank_arrow_top _neutral"></div>
            <p class="progress_tank_val_real">----</p>
            <p class="progress_tank_val" style="color: darkgreen">0%</p>
            <div class="glyphicon glyphicon-chevron-down tank_arrow_bottom _neutral"></div>
        </div>
        <div class="row prod_cont">
            <div class="col-md-12">
                <span class="tank_prod label label-warning"></span>
            </div>
        </div>
        <div class="row pereliv">
            <div class="col-md-12">
                <span class="tank_pereliv label label-danger">Перелив</span>
            </div>
        </div>
        <div class="row errortank">
            <div class="col-md-12">
                <span class="tank_error label label-danger">Ошибка</span>
            </div>
        </div>
    </div>
    <div href="#fancycontainer" class="col-md-1 col-xs-4 col-sm-3 tank" data-num="52">
        <span class="tank_title"></span>
        <div class="progress_tank" id="progress_tank52">
            <div class="glyphicon glyphicon-chevron-up tank_arrow_top _neutral"></div>
            <p class="progress_tank_val_real">----</p>
            <p class="progress_tank_val" style="color: darkgreen">0%</p>
            <div class="glyphicon glyphicon-chevron-down tank_arrow_bottom _neutral"></div>
        </div>
        <div class="row prod_cont">
            <div class="col-md-12">
                <span class="tank_prod label label-warning"></span>
            </div>
        </div>
        <div class="row pereliv">
            <div class="col-md-12">
                <span class="tank_pereliv label label-danger">Перелив</span>
            </div>
        </div>
        <div class="row errortank">
            <div class="col-md-12">
                <span class="tank_error label label-danger">Ошибка</span>
            </div>
        </div>
    </div>
    <div href="#fancycontainer" class="col-md-1 col-xs-4 col-sm-3 tank" data-num="51">
        <span class="tank_title"></span>
        <div class="progress_tank" id="progress_tank51">
            <div class="glyphicon glyphicon-chevron-up tank_arrow_top _neutral"></div>
            <p class="progress_tank_val_real">----</p>
            <p class="progress_tank_val" style="color: darkgreen">0%</p>
            <div class="glyphicon glyphicon-chevron-down tank_arrow_bottom _neutral"></div>
        </div>
        <div class="row prod_cont">
            <div class="col-md-12">
                <span class="tank_prod label label-warning"></span>
            </div>
        </div>
        <div class="row pereliv">
            <div class="col-md-12">
                <span class="tank_pereliv label label-danger">Перелив</span>
            </div>
        </div>
        <div class="row errortank">
            <div class="col-md-12">
                <span class="tank_error label label-danger">Ошибка</span>
            </div>
        </div>
    </div>
    <div href="#fancycontainer" class="col-md-1 col-xs-4 col-sm-3 tank myoffset" data-num="1">
        <span class="tank_title"></span>
        <div class="progress_tank" id="progress_tank1">
            <div class="glyphicon glyphicon-chevron-up tank_arrow_top _neutral"></div>
            <p class="progress_tank_val_real">----</p>
            <p class="progress_tank_val" style="color: darkgreen">0%</p>
            <div class="glyphicon glyphicon-chevron-down tank_arrow_bottom _neutral"></div>
        </div>
        <div class="row prod_cont">
            <div class="col-md-12">
                <span class="tank_prod label label-warning"></span>
            </div>
        </div>
        <div class="row pereliv">
            <div class="col-md-12">
                <span class="tank_pereliv label label-danger">Перелив</span>
            </div>
        </div>
        <div class="row errortank">
            <div class="col-md-12">
                <span class="tank_error label label-danger">Ошибка</span>
            </div>
        </div>
    </div>
    <div href="#fancycontainer" class="col-md-1 col-xs-4 col-sm-3 tank" data-num="2">
        <span class="tank_title"></span>
        <div class="progress_tank" id="progress_tank2">
            <div class="glyphicon glyphicon-chevron-up tank_arrow_top _neutral"></div>
            <p class="progress_tank_val_real">----</p>
            <p class="progress_tank_val" style="color: darkgreen">0%</p>
            <div class="glyphicon glyphicon-chevron-down tank_arrow_bottom _neutral"></div>
        </div>
        <div class="row prod_cont">
            <div class="col-md-12">
                <span class="tank_prod label label-warning"></span>
            </div>
        </div>
        <div class="row pereliv">
            <div class="col-md-12">
                <span class="tank_pereliv label label-danger">Перелив</span>
            </div>
        </div>
        <div class="row errortank">
            <div class="col-md-12">
                <span class="tank_error label label-danger">Ошибка</span>
            </div>
        </div>
    </div>
    <div href="#fancycontainer" class="col-md-1 col-xs-4 col-sm-3 col-md-offset-1 tank myoffset" data-num="9">
        <span class="tank_title"></span>
        <div class="progress_tank" id="progress_tank9">
            <div class="glyphicon glyphicon-chevron-up tank_arrow_top _neutral"></div>
            <p class="progress_tank_val_real">----</p>
            <p class="progress_tank_val" style="color: darkgreen">0%</p>
            <div class="glyphicon glyphicon-chevron-down tank_arrow_bottom _neutral"></div>
        </div>
        <div class="row prod_cont">
            <div class="col-md-12">
                <span class="tank_prod label label-warning"></span>
            </div>
        </div>
        <div class="row pereliv">
            <div class="col-md-12">
                <span class="tank_pereliv label label-danger">Перелив</span>
            </div>
        </div>
        <div class="row errortank">
            <div class="col-md-12">
                <span class="tank_error label label-danger">Ошибка</span>
            </div>
        </div>
    </div>
    <div href="#fancycontainer" class="col-md-1 col-xs-4 col-sm-3 tank" data-num="10">
        <span class="tank_title"></span>
        <div class="progress_tank" id="progress_tank10">
            <div class="glyphicon glyphicon-chevron-up tank_arrow_top _neutral"></div>
            <p class="progress_tank_val_real">----</p>
            <p class="progress_tank_val" style="color: darkgreen">0%</p>
            <div class="glyphicon glyphicon-chevron-down tank_arrow_bottom _neutral"></div>
        </div>
        <div class="row prod_cont">
            <div class="col-md-12">
                <span class="tank_prod label label-warning"></span>
            </div>
        </div>
        <div class="row pereliv">
            <div class="col-md-12">
                <span class="tank_pereliv label label-danger">Перелив</span>
            </div>
        </div>
        <div class="row errortank">
            <div class="col-md-12">
                <span class="tank_error label label-danger">Ошибка</span>
            </div>
        </div>
    </div>
    <div href="#fancycontainer" class="col-md-1 col-xs-4 col-sm-3 tank" data-num="11">
        <span class="tank_title"></span>
        <div class="progress_tank" id="progress_tank11">
            <div class="glyphicon glyphicon-chevron-up tank_arrow_top _neutral"></div>
            <p class="progress_tank_val_real">----</p>
            <p class="progress_tank_val" style="color: darkgreen">0%</p>
            <div class="glyphicon glyphicon-chevron-down tank_arrow_bottom _neutral"></div>
        </div>
        <div class="row prod_cont">
            <div class="col-md-12">
                <span class="tank_prod label label-warning"></span>
            </div>
        </div>
        <div class="row pereliv">
            <div class="col-md-12">
                <span class="tank_pereliv label label-danger">Перелив</span>
            </div>
        </div>
        <div class="row errortank">
            <div class="col-md-12">
                <span class="tank_error label label-danger">Ошибка</span>
            </div>
        </div>
    </div>
    <div class="col-md-3 visible-md visible-lg">
        <div class="scheme"><span>В РАЗРАБОТКЕ</span></div>
    </div>
</div>
<div class="row visible-md visible-lg">
    <div class="col-md-3"></div>
    <div class="col-md-2 myoffset"></div>
    <div class="col-md-3  myoffset"></div>
    <div class="col-md-2 park_name myoffset">Парк 5 <span class="rn_color"></span></div>
    <div class="clearfix"></div>
</div>
<div>
    <div href="#fancycontainer" class="col-md-1 col-xs-4 col-sm-3 tank" data-num="54">
        <span class="tank_title"></span>
        <div class="progress_tank" id="progress_tank54">
            <div class="glyphicon glyphicon-chevron-up tank_arrow_top _neutral"></div>
            <p class="progress_tank_val_real">----</p>
            <p class="progress_tank_val" style="color: darkgreen">0%</p>
            <div class="glyphicon glyphicon-chevron-down tank_arrow_bottom _neutral"></div>
        </div>
        <div class="row prod_cont">
            <div class="col-md-12">
                <span class="tank_prod label label-warning"></span>
            </div>
        </div>
        <div class="row pereliv">
            <div class="col-md-12">
                <span class="tank_pereliv label label-danger">Перелив</span>
            </div>
        </div>
        <div class="row errortank">
            <div class="col-md-12">
                <span class="tank_error label label-danger">Ошибка</span>
            </div>
        </div>
    </div>
    <div href="#fancycontainer" class="col-md-1 col-xs-4 col-sm-3  tank" data-num="55">
        <span class="tank_title"></span>
        <div class="progress_tank" id="progress_tank55">
            <div class="glyphicon glyphicon-chevron-up tank_arrow_top _neutral"></div>
            <p class="progress_tank_val_real">----</p>
            <p class="progress_tank_val" style="color: darkgreen">0%</p>
            <div class="glyphicon glyphicon-chevron-down tank_arrow_bottom _neutral"></div>
        </div>
        <div class="row prod_cont">
            <div class="col-md-12">
                <span class="tank_prod label label-warning"></span>
            </div>
        </div>
        <div class="row pereliv">
            <div class="col-md-12">
                <span class="tank_pereliv label label-danger">Перелив</span>
            </div>
        </div>
        <div class="row errortank">
            <div class="col-md-12">
                <span class="tank_error label label-danger">Ошибка</span>
            </div>
        </div>
    </div>
    <div href="#fancycontainer" class="col-md-1 col-xs-4 col-sm-3  tank" data-num="56">
        <span class="tank_title"></span>
        <div class="progress_tank" id="progress_tank56">
            <div class="glyphicon glyphicon-chevron-up tank_arrow_top _neutral"></div>
            <p class="progress_tank_val_real">----</p>
            <p class="progress_tank_val" style="color: darkgreen">0%</p>
            <div class="glyphicon glyphicon-chevron-down tank_arrow_bottom _neutral"></div>
        </div>
        <div class="row prod_cont">
            <div class="col-md-12">
                <span class="tank_prod label label-warning"></span>
            </div>
        </div>
        <div class="row pereliv">
            <div class="col-md-12">
                <span class="tank_pereliv label label-danger">Перелив</span>
            </div>
        </div>
        <div class="row errortank">
            <div class="col-md-12">
                <span class="tank_error label label-danger">Ошибка</span>
            </div>
        </div>
    </div>
    <div href="#fancycontainer" class="col-md-1 col-xs-4 col-sm-3  tank myoffset" data-num="3">
        <span class="tank_title"></span>
        <div class="progress_tank" id="progress_tank3">
            <div class="glyphicon glyphicon-chevron-up tank_arrow_top _neutral"></div>
            <p class="progress_tank_val_real">----</p>
            <p class="progress_tank_val" style="color: darkgreen">0%</p>
            <div class="glyphicon glyphicon-chevron-down tank_arrow_bottom _neutral"></div>
        </div>
        <div class="row prod_cont">
            <div class="col-md-12">
                <span class="tank_prod label label-warning"></span>
            </div>
        </div>
        <div class="row pereliv">
            <div class="col-md-12">
                <span class="tank_pereliv label label-danger">Перелив</span>
            </div>
        </div>
        <div class="row errortank">
            <div class="col-md-12">
                <span class="tank_error label label-danger">Ошибка</span>
            </div>
        </div>
    </div>
    <div href="#fancycontainer" class="col-md-1 col-xs-4 col-sm-3  tank" data-num="4">
        <span class="tank_title"></span>
        <div class="progress_tank" id="progress_tank4">
            <div class="glyphicon glyphicon-chevron-up tank_arrow_top _neutral"></div>
            <p class="progress_tank_val_real">----</p>
            <p class="progress_tank_val" style="color: darkgreen">0%</p>
            <div class="glyphicon glyphicon-chevron-down tank_arrow_bottom _neutral"></div>
        </div>
        <div class="row prod_cont">
            <div class="col-md-12">
                <span class="tank_prod label label-warning"></span>
            </div>
        </div>
        <div class="row pereliv">
            <div class="col-md-12">
                <span class="tank_pereliv label label-danger">Перелив</span>
            </div>
        </div>
        <div class="row errortank">
            <div class="col-md-12">
                <span class="tank_error label label-danger">Ошибка</span>
            </div>
        </div>
    </div>
    <div href="#fancycontainer" class="col-md-1 col-xs-4 col-sm-3  col-md-offset-1 tank myoffset" data-num="12">
        <span class="tank_title"></span>
        <div class="progress_tank" id="progress_tank12">
            <div class="glyphicon glyphicon-chevron-up tank_arrow_top _neutral"></div>
            <p class="progress_tank_val_real">----</p>
            <p class="progress_tank_val" style="color: darkgreen">0%</p>
            <div class="glyphicon glyphicon-chevron-down tank_arrow_bottom _neutral"></div>
        </div>
        <div class="row prod_cont">
            <div class="col-md-12">
                <span class="tank_prod label label-warning"></span>
            </div>
        </div>
        <div class="row pereliv">
            <div class="col-md-12">
                <span class="tank_pereliv label label-danger">Перелив</span>
            </div>
        </div>
        <div class="row errortank">
            <div class="col-md-12">
                <span class="tank_error label label-danger">Ошибка</span>
            </div>
        </div>
    </div>
    <div href="#fancycontainer" class="col-md-1 col-xs-4 col-sm-3  tank" data-num="13">
        <span class="tank_title"></span>
        <div class="progress_tank" id="progress_tank13">
            <div class="glyphicon glyphicon-chevron-up tank_arrow_top _neutral"></div>
            <p class="progress_tank_val_real">----</p>
            <p class="progress_tank_val" style="color: darkgreen">0%</p>
            <div class="glyphicon glyphicon-chevron-down tank_arrow_bottom _neutral"></div>
        </div>
        <div class="row prod_cont">
            <div class="col-md-12">
                <span class="tank_prod label label-warning"></span>
            </div>
        </div>
        <div class="row pereliv">
            <div class="col-md-12">
                <span class="tank_pereliv label label-danger">Перелив</span>
            </div>
        </div>
        <div class="row errortank">
            <div class="col-md-12">
                <span class="tank_error label label-danger">Ошибка</span>
            </div>
        </div>
    </div>
    <div href="#fancycontainer" class="col-md-1 col-xs-4 col-sm-3  tank" data-num="14">
        <span class="tank_title"></span>
        <div class="progress_tank" id="progress_tank14">
            <div class="glyphicon glyphicon-chevron-up tank_arrow_top _neutral"></div>
            <p class="progress_tank_val_real">----</p>
            <p class="progress_tank_val" style="color: darkgreen">0%</p>
            <div class="glyphicon glyphicon-chevron-down tank_arrow_bottom _neutral"></div>
        </div>
        <div class="row prod_cont">
            <div class="col-md-12">
                <span class="tank_prod label label-warning"></span>
            </div>
        </div>
        <div class="row pereliv">
            <div class="col-md-12">
                <span class="tank_pereliv label label-danger">Перелив</span>
            </div>
        </div>
        <div class="row errortank">
            <div class="col-md-12">
                <span class="tank_error label label-danger">Ошибка</span>
            </div>
        </div>
    </div>
    <div href="#fancycontainer" class="col-md-1 col-xs-4 col-sm-3  col-md-offset-1 tank myoffset" data-num="70">
        <span class="tank_title"></span>
        <div class="progress_tank" id="progress_tank70">
            <div class="glyphicon glyphicon-chevron-up tank_arrow_top _neutral"></div>
            <p class="progress_tank_val_real">----</p>
            <p class="progress_tank_val" style="color: darkgreen">0%</p>
            <div class="glyphicon glyphicon-chevron-down tank_arrow_bottom _neutral"></div>
        </div>
        <div class="row prod_cont">
            <div class="col-md-12">
                <span class="tank_prod label label-warning"></span>
            </div>
        </div>
        <div class="row pereliv">
            <div class="col-md-12">
                <span class="tank_pereliv label label-danger">Перелив</span>
            </div>
        </div>
        <div class="row errortank">
            <div class="col-md-12">
                <span class="tank_error label label-danger">Ошибка</span>
            </div>
        </div>
    </div>
    <div href="#fancycontainer" class="col-md-1 col-xs-4 col-sm-3  tank" data-num="71">
        <span class="tank_title"></span>
        <div class="progress_tank" id="progress_tank71">
            <div class="glyphicon glyphicon-chevron-up tank_arrow_top _neutral"></div>
            <p class="progress_tank_val_real">----</p>
            <p class="progress_tank_val" style="color: darkgreen">0%</p>
            <div class="glyphicon glyphicon-chevron-down tank_arrow_bottom _neutral"></div>
        </div>
        <div class="row prod_cont">
            <div class="col-md-12">
                <span class="tank_prod label label-warning"></span>
            </div>
        </div>
        <div class="row pereliv">
            <div class="col-md-12">
                <span class="tank_pereliv label label-danger">Перелив</span>
            </div>
        </div>
        <div class="row errortank">
            <div class="col-md-12">
                <span class="tank_error label label-danger">Ошибка</span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3 visible-md visible-lg park_name">Схема соединений <span class="rn_color"></span></div>
    <div class="col-md-2 visible-md visible-lg col-md-offset-1 park_name myoffset">Парк 2 <span class="rn_color"></span></div>
    <div class="col-md-3 visible-md visible-lg col-md-offset-1 park_name myoffset">Парк 4 <span class="rn_color"></span></div>
    <div class="col-md-3 visible-md visible-lg"></div>
    <div class="clearfix"></div>
    <div class="col-md-3 visible-md visible-lg">
        <div class="scheme"><span>В РАЗРАБОТКЕ</span></div>
    </div>
    <div href="#fancycontainer" class="col-md-1 col-xs-4 col-sm-3   tank myoffset" data-num="5">
        <span class="tank_title"></span>
        <div class="progress_tank" id="progress_tank5">
            <div class="glyphicon glyphicon-chevron-up tank_arrow_top _neutral"></div>
            <p class="progress_tank_val_real">----</p>
            <p class="progress_tank_val" style="color: darkgreen">0%</p>
            <div class="glyphicon glyphicon-chevron-down tank_arrow_bottom _neutral"></div>
        </div>
        <div class="row prod_cont">
            <div class="col-md-12">
                <span class="tank_prod label label-warning"></span>
            </div>
        </div>
        <div class="row pereliv">
            <div class="col-md-12">
                <span class="tank_pereliv label label-danger">Перелив</span>
            </div>
        </div>
        <div class="row errortank">
            <div class="col-md-12">
                <span class="tank_error label label-danger">Ошибка</span>
            </div>
        </div>
    </div>
    <div href="#fancycontainer" class="col-md-1 col-xs-4 col-sm-3   tank" data-num="6">
        <span class="tank_title"></span>
        <div class="progress_tank" id="progress_tank6">
            <div class="glyphicon glyphicon-chevron-up tank_arrow_top _neutral"></div>
            <p class="progress_tank_val_real">----</p>
            <p class="progress_tank_val" style="color: darkgreen">0%</p>
            <div class="glyphicon glyphicon-chevron-down tank_arrow_bottom _neutral"></div>
        </div>
        <div class="row prod_cont">
            <div class="col-md-12">
                <span class="tank_prod label label-warning"></span>
            </div>
        </div>
        <div class="row pereliv">
            <div class="col-md-12">
                <span class="tank_pereliv label label-danger">Перелив</span>
            </div>
        </div>
        <div class="row errortank">
            <div class="col-md-12">
                <span class="tank_error label label-danger">Ошибка</span>
            </div>
        </div>
    </div>
    <div href="#fancycontainer" class="col-md-1 col-xs-4 col-sm-3   col-md-offset-1 tank myoffset" data-num="15">
        <span class="tank_title"></span>
        <div class="progress_tank" id="progress_tank15">
            <div class="glyphicon glyphicon-chevron-up tank_arrow_top _neutral"></div>
            <p class="progress_tank_val_real">----</p>
            <p class="progress_tank_val" style="color: darkgreen">0%</p>
            <div class="glyphicon glyphicon-chevron-down tank_arrow_bottom _neutral"></div>
        </div>
        <div class="row prod_cont">
            <div class="col-md-12">
                <span class="tank_prod label label-warning"></span>
            </div>
        </div>
        <div class="row pereliv">
            <div class="col-md-12">
                <span class="tank_pereliv label label-danger">Перелив</span>
            </div>
        </div>
        <div class="row errortank">
            <div class="col-md-12">
                <span class="tank_error label label-danger">Ошибка</span>
            </div>
        </div>
    </div>
    <div href="#fancycontainer" class="col-md-1 col-xs-4 col-sm-3   tank" data-num="16">
        <span class="tank_title"></span>
        <div class="progress_tank" id="progress_tank16">
            <div class="glyphicon glyphicon-chevron-up tank_arrow_top _neutral"></div>
            <p class="progress_tank_val_real">----</p>
            <p class="progress_tank_val" style="color: darkgreen">0%</p>
            <div class="glyphicon glyphicon-chevron-down tank_arrow_bottom _neutral"></div>
        </div>
        <div class="row prod_cont">
            <div class="col-md-12">
                <span class="tank_prod label label-warning"></span>
            </div>
        </div>
        <div class="row pereliv">
            <div class="col-md-12">
                <span class="tank_pereliv label label-danger">Перелив</span>
            </div>
        </div>
        <div class="row errortank">
            <div class="col-md-12">
                <span class="tank_error label label-danger">Ошибка</span>
            </div>
        </div>
    </div>
    <div href="#fancycontainer" class="col-md-1 col-xs-4 col-sm-3   tank" data-num="17">
        <span class="tank_title"></span>
        <div class="progress_tank" id="progress_tank17">
            <div class="glyphicon glyphicon-chevron-up tank_arrow_top _neutral"></div>
            <p class="progress_tank_val_real">----</p>
            <p class="progress_tank_val" style="color: darkgreen">0%</p>
            <div class="glyphicon glyphicon-chevron-down tank_arrow_bottom _neutral"></div>
        </div>
        <div class="row prod_cont">
            <div class="col-md-12">
                <span class="tank_prod label label-warning"></span>
            </div>
        </div>
        <div class="row pereliv">
            <div class="col-md-12">
                <span class="tank_pereliv label label-danger">Перелив</span>
            </div>
        </div>
        <div class="row errortank">
            <div class="col-md-12">
                <span class="tank_error label label-danger">Ошибка</span>
            </div>
        </div>
    </div>
    <div href="#fancycontainer" class="col-md-1 col-xs-4 col-sm-3   col-md-offset-1 tank myoffset" data-num="69">
        <span class="tank_title"></span>
        <div class="progress_tank" id="progress_tank69">
            <div class="glyphicon glyphicon-chevron-up tank_arrow_top _neutral"></div>
            <p class="progress_tank_val_real">----</p>
            <p class="progress_tank_val" style="color: darkgreen">0%</p>
            <div class="glyphicon glyphicon-chevron-down tank_arrow_bottom _neutral"></div>
        </div>
        <div class="row prod_cont">
            <div class="col-md-12">
                <span class="tank_prod label label-warning"></span>
            </div>
        </div>
        <div class="row pereliv">
            <div class="col-md-12">
                <span class="tank_pereliv label label-danger">Перелив</span>
            </div>
        </div>
        <div class="row errortank">
            <div class="col-md-12">
                <span class="tank_error label label-danger">Ошибка</span>
            </div>
        </div>
    </div>
    <div href="#fancycontainer" class="col-md-1 col-xs-4 col-sm-3   tank" data-num="72">
        <span class="tank_title"></span>
        <div class="progress_tank" id="progress_tank72">
            <div class="glyphicon glyphicon-chevron-up tank_arrow_top _neutral"></div>
            <p class="progress_tank_val_real">----</p>
            <p class="progress_tank_val" style="color: darkgreen">0%</p>
            <div class="glyphicon glyphicon-chevron-down tank_arrow_bottom _neutral"></div>
        </div>
        <div class="row prod_cont">
            <div class="col-md-12">
                <span class="tank_prod label label-warning"></span>
            </div>
        </div>
        <div class="row pereliv">
            <div class="col-md-12">
                <span class="tank_pereliv label label-danger">Перелив</span>
            </div>
        </div>
        <div class="row errortank">
            <div class="col-md-12">
                <span class="tank_error label label-danger">Ошибка</span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3"></div>
    <div href="#fancycontainer" class="col-md-1 col-xs-4 col-sm-3   tank myoffset" data-num="7">
        <span class="tank_title"></span>
        <div class="progress_tank" id="progress_tank7">
            <div class="glyphicon glyphicon-chevron-up tank_arrow_top _neutral"></div>
            <p class="progress_tank_val_real">----</p>
            <p class="progress_tank_val" style="color: darkgreen">0%</p>
            <div class="glyphicon glyphicon-chevron-down tank_arrow_bottom _neutral"></div>
        </div>
        <div class="row prod_cont">
            <div class="col-md-12">
                <span class="tank_prod label label-warning"></span>
            </div>
        </div>
        <div class="row pereliv">
            <div class="col-md-12">
                <span class="tank_pereliv label label-danger">Перелив</span>
            </div>
        </div>
        <div class="row errortank">
            <div class="col-md-12">
                <span class="tank_error label label-danger">Ошибка</span>
            </div>
        </div>
    </div>
    <div href="#fancycontainer" class="col-md-1 col-xs-4 col-sm-3   tank" data-num="8">
        <span class="tank_title"></span>
        <div class="progress_tank" id="progress_tank8">
            <div class="glyphicon glyphicon-chevron-up tank_arrow_top _neutral"></div>
            <p class="progress_tank_val_real">----</p>
            <p class="progress_tank_val" style="color: darkgreen">0%</p>
            <div class="glyphicon glyphicon-chevron-down tank_arrow_bottom _neutral"></div>
        </div>
        <div class="row prod_cont">
            <div class="col-md-12">
                <span class="tank_prod label label-warning"></span>
            </div>
        </div>
        <div class="row pereliv">
            <div class="col-md-12">
                <span class="tank_pereliv label label-danger">Перелив</span>
            </div>
        </div>
        <div class="row errortank">
            <div class="col-md-12">
                <span class="tank_error label label-danger">Ошибка</span>
            </div>
        </div>
    </div>
    <div href="#fancycontainer" class="col-md-1 col-xs-4 col-sm-3   col-md-offset-1 tank myoffset" data-num="18">
        <span class="tank_title"></span>
        <div class="progress_tank" id="progress_tank18">
            <div class="glyphicon glyphicon-chevron-up tank_arrow_top _neutral"></div>
            <p class="progress_tank_val_real">----</p>
            <p class="progress_tank_val" style="color: darkgreen">0%</p>
            <div class="glyphicon glyphicon-chevron-down tank_arrow_bottom _neutral"></div>
        </div>
        <div class="row prod_cont">
            <div class="col-md-12">
                <span class="tank_prod label label-warning"></span>
            </div>
        </div>
        <div class="row pereliv">
            <div class="col-md-12">
                <span class="tank_pereliv label label-danger">Перелив</span>
            </div>
        </div>
        <div class="row errortank">
            <div class="col-md-12">
                <span class="tank_error label label-danger">Ошибка</span>
            </div>
        </div>
    </div>
    <div href="#fancycontainer" class="col-md-1 col-xs-4 col-sm-3   tank" data-num="19">
        <span class="tank_title"></span>
        <div class="progress_tank" id="progress_tank19">
            <div class="glyphicon glyphicon-chevron-up tank_arrow_top _neutral"></div>
            <p class="progress_tank_val_real">----</p>
            <p class="progress_tank_val" style="color: darkgreen">0%</p>
            <div class="glyphicon glyphicon-chevron-down tank_arrow_bottom _neutral"></div>
        </div>
        <div class="row prod_cont">
            <div class="col-md-12">
                <span class="tank_prod label label-warning"></span>
            </div>
        </div>
        <div class="row pereliv">
            <div class="col-md-12">
                <span class="tank_pereliv label label-danger">Перелив</span>
            </div>
        </div>
        <div class="row errortank">
            <div class="col-md-12">
                <span class="tank_error label label-danger">Ошибка</span>
            </div>
        </div>
    </div>
    <div href="#fancycontainer" class="col-md-1 col-xs-4 col-sm-3   tank" data-num="20">
        <span class="tank_title"></span>
        <div class="progress_tank" id="progress_tank20">
            <div class="glyphicon glyphicon-chevron-up tank_arrow_top _neutral"></div>
            <p class="progress_tank_val_real">----</p>
            <p class="progress_tank_val" style="color: darkgreen">0%</p>
            <div class="glyphicon glyphicon-chevron-down tank_arrow_bottom _neutral"></div>
        </div>
        <div class="row prod_cont">
            <div class="col-md-12">
                <span class="tank_prod label label-warning"></span>
            </div>
        </div>
        <div class="row pereliv">
            <div class="col-md-12">
                <span class="tank_pereliv label label-danger">Перелив</span>
            </div>
        </div>
        <div class="row errortank">
            <div class="col-md-12">
                <span class="tank_error label label-danger">Ошибка</span>
            </div>
        </div>
    </div>
    <div href="#fancycontainer" class="col-md-1 col-xs-4 col-sm-3 visible-md visible-lg  col-md-offset-1 myoffset" style="height: 10px"></div>
    <div href="#fancycontainer" class="col-md-1 col-xs-4 col-sm-3   tank" data-num="73">
        <span class="tank_title"></span>
        <div class="progress_tank" id="progress_tank73">
            <div class="glyphicon glyphicon-chevron-up tank_arrow_top _neutral"></div>
            <p class="progress_tank_val_real">----</p>
            <p class="progress_tank_val" style="color: darkgreen">0%</p>
            <div class="glyphicon glyphicon-chevron-down tank_arrow_bottom _neutral"></div>
        </div>
        <div class="row prod_cont">
            <div class="col-md-12">
                <span class="tank_prod label label-warning"></span>
            </div>
        </div>
        <div class="row pereliv">
            <div class="col-md-12">
                <span class="tank_pereliv label label-danger">Перелив</span>
            </div>
        </div>
        <div class="row errortank">
            <div class="col-md-12">
                <span class="tank_error label label-danger">Ошибка</span>
            </div>
        </div>
    </div>
</div>