<div class="container-fluid system-about">
    <div class="row system-about">
        <div class="col-sm-4 system-rightbar">
            <h3>Разработка:</h3>
            <h2 class="val">Савин Сергей Владимирович</h2>
            <div class="devider"></div>
            <h3>Контакты:</h3>
            <h4>Электронная почта:</h4>
            <h2 class="val">alter4444@gmail.com</h2>
            <h4>Телефон:</h4>
            <h2 class="val">8 917 121 5000</h2>
        </div>
        <div class="col-sm-8 system-logs"></div>
    </div>
</div>